<!DOCTYPE html>
<html lang="en">

<head>
    <title>GEOLYTIX</title>

    <meta name="description" content="{{:meta}}"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="glx.ico" />

    <!--<script type="application/javascript">
        //google analytics
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {(i[r].q = i[r].q || []).push(arguments)}
            i[r].l = 1 * new Date();
            a = s.createElement(o);
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-82852467-4', 'auto');
        ga('send', 'pageview');
    </script>-->

    <link rel="stylesheet" href="/css/desktop.css"/>
    <link rel="stylesheet" href="https://geolytix.xyz/geodata/css/control.css"/>
    {{:header_css}}

    <script src="/js/geodata.js" defer></script>
    <script src="https://geolytix.xyz/geodata/js/build/xyz_control_bundle.js" defer></script>
    <script src="/js/build/desktop_bundle.js" defer></script>

</head>

<body data-viewmode="desktop" data-locale="{{:locale}}" data-office="{{:office}}">

{{include tmpl=header /}}

{{include tmpl=services /}}

{{include tmpl=case_studies /}}

{{include tmpl=geodata /}}

{{include tmpl=team /}}

<div id="section_contact">
    <div>
        <button id="btnZoomIn_contact" class="mapButton noselect">
            <i class="material-icons">add</i>
        </button>
        <button id="btnZoomOut_contact" class="mapButton noselect">
            <i class="material-icons">remove</i>
        </button>
        <div id="map_contact"></div>
        <div id="contact__text" class="contact__text"></div>
    </div>
</div>

<div id="section_awards">
    <div class="strip">
        <a class="img__contain img__load" data-src="awards/award_qa.jpg" href="http://blog.geolytix.net/2016/07/01/data-analytics-firm-geolytix-win-queens-award-for-enterprise" target="_blank"></a>
        <a class="img__contain img__load" data-src="awards/award_odi.jpg" href="https://theodi.org/news/first-odi-open-data-awards-presented-by-sir-tim-berners-lee-and-sir-nigel-shadbolt" target="_blank"></a>
        <a class="img__contain img__load" data-src="awards/award_fsb.jpg" href="http://businessawardslondon.co.uk" target="_blank"></a>
    </div>

    <div class="strip">
        <a class="img__contain"></a>
        <a class="img__contain img__load" data-src="awards/award_nba.jpg" href="https://blog.geolytix.net/2014/07/25/national-business-awards-double-finalists" target="_blank"></a>
        <a class="img__contain img__load" data-src="awards/award_sla.jpg" href="http://www.thesla.org/previous-winners" target="_blank"></a>
        <a class="img__contain"></a>
    </div>
</div>

{{include tmpl=footer /}}

</body>

</html>