<!DOCTYPE html>
<html lang="en">

<head>
    <title>GEOLYTIX</title>
    <meta charset="UTF-8"/>
    <meta name="description"
          content="Location Planning experts providing retail & demographic data worldwide. We find the right network strategy solution for our customers."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/gd_map_m.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="glx.ico" />
</head>

<body>

<a id="logo_link" href="/?geodata">GEOLYTIX</a>

<button id="btnZoomIn" class="mapButton noselect">
    <i class="material-icons">add</i>
</button>

<button id="btnZoomOut" class="mapButton noselect">
    <i class="material-icons">remove</i>
</button>

<div id="map_geodata"></div>

<div id="spacer_geodata"></div>

<div class="geodata__info">
    <i class="material-icons slider_geodata">swap_vert</i>
    {{include tmpl=gd_tmpl /}}
</div>

</body>

<script>const view_mode = 'mobile';</script>
<script type="application/javascript" src="js/build/gd_map_bundle.js"></script>

</html>