<!DOCTYPE html>
<html lang="en">

<head>
    <title>GEOLYTIX</title>
    <meta name="description" content="Experts in providing data and services for location, demographic, customer and market analysis for retailers and investors in the UK, Europe and America."/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="/public/css/fontello_embedded.css"/>
    <link rel="stylesheet" href="/public/css/leaflet.css"/>
    <link rel="stylesheet" href="/public/css/leaflet_map.css"/>
    <link rel="stylesheet" href="/public/css/gd_map.m.css"/>
</head>

<body>

<a id="logo_link" href="/?geodata">GEOLYTIX</a>

<button id="btnZoomIn" class="mapButton noselect">
    <i class="material-icons">add</i>
</button>

<button id="btnZoomOut" class="mapButton noselect">
    <i class="material-icons">remove</i>
</button>

<div id="map_geodata" class="map_geodata__mobile"></div>

<div id="spacer_geodata"></div>

<div class="geodata__info">
    <i class="material-icons slider_geodata">swap_vert</i>
    {{include tmpl=gd_tmpl /}}
</div>

</body>

<script type="application/javascript" src="/public/js/jquery.js"></script>
<script type="application/javascript" src="/public/js/leaflet.js"></script>
<script type="application/javascript" src="/public/js/proj4.js"></script>
<script type="application/javascript" src="/public/js/leaflet.proj4.js"></script>
<script type="application/javascript" src="/public/js/turf.js"></script>
<script type="application/javascript" src="/public/js/leaflet.NonTiledLayer.js"></script>
<script>
    var view_mode = 'mobile';
</script>
<script type="application/javascript" src="/public/js/geodata.js"></script>

</html>