<!DOCTYPE html>
<html lang="en">

<head>
    <title>GEOLYTIX</title>
    <meta charset="UTF-8"/>
    <meta name="description"
          content="Location Planning experts providing retail & demographic data worldwide. We find the right network strategy solution for our customers."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/gd_map_d.css"/>
</head>

<body>

<div class="geodata__info">
    <div class="scrollbar_container">
        <div class="scrollbar"></div>
    </div>
    <div class="content">
        {{include tmpl=gd_tmpl /}}
    </div>
</div>

<div class="geodata__content">

    <div id="map_geodata">
        <a href="http://mapbox.com/about/maps" class='mapbox-wordmark' target="_blank">Mapbox</a>
        <div class="mapbox-attribution-container">
            <a href="http://leafletjs.com" target="_blank">
                <strong>Leaflet</strong> | </a>
            <a href="https://www.mapbox.com/about/maps/">© Mapbox | </a>
            <a href="http://www.openstreetmap.org/copyright">© OpenStreetMap | </a>
            <a href="https://www.mapbox.com/map-feedback/" target="_blank">
                <strong>Improve this map</strong>
            </a>
        </div>
    </div>

    <a id="logo_link" href="/?geodata">GEOLYTIX</a>

    <button id="btnZoomIn" class="mapButton noselect">
        <i class="material-icons">add</i>
    </button>

    <button id="btnZoomOut" class="mapButton noselect">
        <i class="material-icons">remove</i>
    </button>

</div>

</body>

<script>const view_mode = 'desktop';</script>
<script type="application/javascript" src="js/build/gd_map_bundle.js"></script>

</html>