<!DOCTYPE html>
<html lang="en">

<head>
    <title>GEOLYTIX</title>

    <meta name="description" content="Experts in providing data and services for location, demographic, customer and market analysis for retailers and investors in the UK, Europe and America."/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="/public/css/fontello_embedded.css"/>
    <link rel="stylesheet" href="/public/css/leaflet.css"/>
    <link rel="stylesheet" href="/public/css/geodata_map.m.css"/>

</head>

<body>

<a id="logo_link" href="/mobile?geodata">GEOLYTIX</a>

<div class="mapButton btnZoomIn noselect">
    <i class="material-icons">add</i>
</div>

<div class="mapButton btnZoomOut noselect">
    <i class="material-icons">remove</i>
</div>

<div id="map_geodata"></div>

<div id="spacer_geodata"></div>



<div class="geodata__info">
    <i class="material-icons slider_geodata">swap_vert</i>

    <div class="seamless_locales">
        <div class="geodata__infobox">
            <p>100% Seamless UK definitions of natural markets at 4 levels, local, towns, district and region. Close
                match to true ‘markets’ at multiple scales.</p>
            <p><a class="docu_link"
                  href="https://drive.google.com/file/d/0B1GCK8cPXzg-TGdzNzA4VUY4TGs"
                  target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
            <table id="seamless_locales_info" class="infotable"></table>
            <div class="attribution">
                <p>Map data - OpenStreetMap</p>
                <p>Tiles from CartoDB</p>
            </div>
        </div>
    </div>

    <div class="retail_points">
        <div class="geodata__infobox">
            <p>Over 10,000 supermarket roof-top locations and addresses. Retailers include Aldi, Asda, Booths, Budgens,
                Co-op, Costco, Lidl, Marks and Spencer, Morrisons, Sainsbury’s, Tesco, Waitrose, Wholefoods. Please
                download for free and use this data openly.</p>
            <p><a href="https://drive.google.com/file/d/0B1GCK8cPXzg-bGhoZk9DdUZLNTg"
                  target="_blank">Download a zip archive containing the latest version of our Open Retail Points data
                    pack.</a></p>
            <p><a class="docu_link"
                  href="https://drive.google.com/a/geolytix.co.uk/file/d/0B1GCK8cPXzg-ZUl6MDFUUkFBVEU"
                  target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
            <div id="legend__retailpoints" class="tmpl__legend"></div>
            <div class="attribution">
                <p>Map data - OpenStreetMap</p>
                <p>Tiles from CartoDB</p>
            </div>
        </div>
    </div>

    <div class="retail_places">
        <div class="geodata__infobox">
            <p>More than 20k scored, profiled and named polygons detailing where people shop in the UK, and catchment
                area demographics. Ideal for locating new sites and understanding micro location performance.
                Additionally pitch can be purchased along side this pack.</p>
            <p><a href="https://drive.google.com/file/d/0B1GCK8cPXzg-OWE4Q3Nrdzk3d2M"
                  target="_blank">Download a sub-set of four hundred centres; scored, profiled and named polygons
                    detailing where people shop in the UK. Note that the Open version requires attribution of the
                    Ordnance Survey, Royal Mail, and GEOLYTIX.</a></p>
            <p><a class="docu_link"
                  href="https://drive.google.com/open?id=0B1GCK8cPXzg-OWE4Q3Nrdzk3d2M"
                  target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
            <div class="attribution">
                <p>Map data - OpenStreetMap</p>
                <p>Tiles from CartoDB</p>
            </div>
        </div>
    </div>

    <div class="public_transport">
        <div class="geodata__infobox">
            <p>Precise access points to all public transport including detailed volume data. Perfect for accessibility
                studies and modelling on-street pedestrian volume.</p>
            <p><a class="docu_link"
                  href="https://drive.google.com/file/d/0B1GCK8cPXzg-Q3MwM2pvS1FlNHM"
                  target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
            <div class="attribution">
                <p>Map data - OpenStreetMap</p>
                <p>Tiles from CartoDB</p>
            </div>
        </div>
    </div>

    <div class="postal_geom">
        <div class="geodata__infobox">
            <p>High resolution postal boundaries combining exceptional ‘enclosure’ accuracy with boundaries that follow
                real-world features.</p>
            <p><a href="https://drive.google.com/file/d/0B5UPsNN3XERXZi00WE5aZTBXV0E"
                  target="_blank">Download a zip archive containing 9,232 geographic postal sector boundaries covering
                    Great Britain as of October 2012. Released under the same terms as the OS OpenData license with the
                    single addition of GEOLYTIX to the attribution list.</a></p>
            <p><a class="docu_link"
                  href="https://drive.google.com/file/d/0B1GCK8cPXzg-Nk5nZ2c0S2JUOTg"
                  target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
            <div class="attribution">
                <p>Map data - OpenStreetMap</p>
                <p>Tiles from CartoDB</p>
            </div>
        </div>
    </div>

    <div class="town_suburb">
        <div class="geodata__infobox">
            <p>A precise and intuitive set of 30,000 named ‘places’ across the UK richly attributed with data. Ideal
                base for UK wide profiling and benchmarking.</p>
            <p><a class="docu_link"
                  href="https://drive.google.com/file/d/0B1GCK8cPXzg-bDhiZkY2a2VmQk0"
                  target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
            <table id="town_suburb_info" class="infotable"></table>
            <div class="attribution">
                <p>Map data - OpenStreetMap</p>
                <p>Tiles from CartoDB</p>
            </div>
        </div>
    </div>

    <div class="education">
        <div class="geodata__infobox">
            <p>All University buildings & entrances digitised and attributed, with student counts. All primary and
                secondary schools both private and state. Includes school roll data, exam results and pupil
                demographics. Includes official codes for onward linking.</p>
            <p><a class="docu_link"
                  href="https://drive.google.com/file/d/0B1GCK8cPXzg-ZF9NbjZ6WXVxQUE"
                  target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
            <div class="attribution">
                <p>Map data - OpenStreetMap</p>
                <p>Tiles from CartoDB</p>
            </div>
        </div>
    </div>

    <div class="workplace">
        <div class="geodata__infobox">
            <p>Up to date worker counts for more than 400,000 commercial postcodes across the UK. Split by type of
                occupation for a deeper understanding of who works where.</p>
            <p><a class="docu_link"
                  href="https://drive.google.com/open?id=0B1GCK8cPXzg-bzJ2TF9KWFZiNEE"
                  target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
            <div id="legend__workplace" class="tmpl__legend"></div>
            <div class="attribution">
                <p>Map data - OpenStreetMap</p>
                <p>Tiles from CartoDB</p>
            </div>
        </div>
    </div>

    <div class="poi info">
        <div class="geodata__infobox">
            <p>A collection of points of interest across the UK including healthcare locations, law and order sites
                along with sport & leisure facilities, car parks, cinemas and service areas.</p>
            <p><a class="docu_link"
                  href="https://drive.google.com/file/d/0B1GCK8cPXzg-V1F1ZEFTX0xuRG8"
                  target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
            <div id="legend__poi" class="tmpl__legend"></div>
            <div class="attribution">
                <p>Map data - OpenStreetMap</p>
                <p>Tiles from CartoDB</p>
            </div>
        </div>
    </div>

    <div class="residential">
        <div class="geodata__infobox">
            <p>Data relating to residential and population, current and forecasted figures.</p>
            <p><a class="docu_link"
                  href="https://drive.google.com/open?id=0B1GCK8cPXzg-VTU2a0hRY2VrREk"
                  target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
            <div id="legend__residential" class="tmpl__legend"></div>
            <div class="attribution">
                <p>Map data - OpenStreetMap</p>
                <p>Tiles from CartoDB</p>
            </div>
        </div>
    </div>

    <div class="uk_admin">
        <div class="geodata__infobox">
            <p>All UK’s administrative boundaries in a consistent package. Includes all police, health, fire, EU zones,
                regions, constituencies, wards and statistical geographies. The core framework which all national
                statistics are published within.</p>
            <p><a href="https://drive.google.com/file/d/0B1GCK8cPXzg-Ui1FYWpxRDctT1k"
                  target="_blank">Download a collection of 197 variables as Output Area (OA) level. English, Welsh,
                    Scottish and Northern Irish Census data processed into a single easy-to-use flat file. We have
                    released free-of-charge and under the same license terms as the census.</a></p>
            <p><a class="docu_link"
                  href="https://drive.google.com/a/geolytix.co.uk/file/d/0B1GCK8cPXzg-QlBsUS1TaWhTU0k"
                  target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
            <div class="attribution">
                <p>Map data - OpenStreetMap</p>
                <p>Tiles from CartoDB</p>
            </div>
        </div>
    </div>

    <div class="property">
        <div class="geodata__infobox">
            <p>All housing transactions since 1995 including address, value and classifications. A continually growing
                source of local area insight. Plus all 500K listed properties across the UK.</p>
            <p><a class="docu_link"
                  href="https://drive.google.com/open?id=0B1GCK8cPXzg-V3lEYnNBQVMxckk"
                  target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
            <div id="legend__property" class="tmpl__legend"></div>
            <div class="attribution">
                <p>Map data - OpenStreetMap</p>
                <p>Tiles from CartoDB</p>
            </div>
        </div>
    </div>

    <div class="road_network">
        <div class="geodata__infobox">
            <p>Routable Link/Node data with link-level mid-afternoon speeds based on Highways agency probe data and
                sophisticated speed model; painlessly integrates into multiple routing software tools.</p>
            <p><a class="docu_link"
                  href="https://drive.google.com/file/d/0B1GCK8cPXzg-bVlZRnBiMEFxbms"
                  target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
            <div class="attribution">
                <p>Map data - OpenStreetMap</p>
                <p>Tiles from CartoDB</p>
            </div>
        </div>
    </div>

    <div class="media_com">
        <div class="geodata__infobox">
            <p>A spatial dataset of broadcasting regions, broadband speeds by postcode, Wi-Fi hotspots by postcode and
                radio coverage.</p>
            <p><a class="docu_link"
                  href="https://drive.google.com/open?id=0B1GCK8cPXzg-Wjl3SnUtZzdzQXM"
                  target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
            <div id="legend__media" class="tmpl__legend"></div>
            <div class="attribution">
                <p>Map data - OpenStreetMap</p>
                <p>Tiles from CartoDB</p>
            </div>
        </div>
    </div>

    <div class="physical">
        <div class="geodata__infobox">
            <p>High resolution coastlines, hydrology, contours and summits. Key input to classic outdoor maps.</p>
            <p><a class="docu_link"
                  href="https://drive.google.com/open?id=0B1GCK8cPXzg-UlZGbGR1VExkT1E"
                  target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
            <div class="attribution">
                <p>Map data - OpenStreetMap</p>
                <p>Tiles from CartoDB</p>
            </div>
        </div>
    </div>

</div>

</body>

<script type="application/javascript" src="/public/js/jquery.js"></script>
<script type="application/javascript" src="/public/js/jsrender.js"></script>
<script type="application/javascript" src="/public/js/leaflet.js"></script>
<script type="application/javascript" src="/public/js/proj4.js"></script>
<script type="application/javascript" src="/public/js/leaflet.proj4.js"></script>
<script type="application/javascript" src="/public/js/turf.js"></script>
<script type="application/javascript" src="/public/js/leaflet.NonTiledLayer.js"></script>
<script type="application/javascript" src="/public/js/geodata_map.m.js"></script>

</html>