<!DOCTYPE html>
<html lang="en">

<head>
    <title>GEOLYTIX</title>

    <meta name="description" content="Experts in providing data and services for location, demographic, customer and market analysis for retailers and investors in the UK, Europe and America."/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="application/javascript">
        //change to mobile view
        if (/MSIE (\d+\.\d+);/.test(navigator.userAgent)) {
            if (Number(RegExp.$1) <= 7) {
                window.location = "//blog.geolytix.net";
            }
        }
        if (window.width || screen.width < 799) {
            window.location = "/mobile"
        }

        //google analytics
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {(i[r].q = i[r].q || []).push(arguments)}
            i[r].l = 1 * new Date();
            a = s.createElement(o);
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-82852467-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script type="application/javascript" src="/public/js/jquery.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="/public/css/fontello_embedded.css"/>
    <link rel="stylesheet" href="/public/css/leaflet.css"/>
    <link rel="stylesheet" href="/public/css/geolytix.css"/>

</head>

<body>

<div class="header">
    <a id="home" class="cursor" href="https://geolytix.net">GEOLYTIX</a>
    <div class="header__text">Better decisions where location matters</div>
    <div class="header__menu">
        <div id="contact" class="cursor">Contact</div>
        <div id="team" class="cursor">Team</div>
        <div id="blog" class="cursor"><a href="http://blog.geolytix.net">Blog</a></div>
        <div id="geodata" class="cursor">GeoData</div>
        <div id="case_studies" class="cursor">Case Studies</div>
        <div id="services" class="cursor">Services</div>
    </div>
</div>

<div id="header__image"></div>

<div class="services">
    <p>Since the day Geolytix came into being, we've been telling our customers where to go; how many stores, who to acquire, where to open and how to optimise home delivery and click & collect operations.</p>
    <p>Investing in stores and online is expensive</p>
    <p>We'll help you spend your money wisely</p>

    <ul class="ul_grid">
        <li>
            <div class="li_card network_strategy cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">Network Strategy</div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>It’s never been more important for a retailer to understand how to optimise its store network. Whether you want to understand the potential number of stores you can open, how new formats will work together or how many stores you should close, given your growth in online sales, we can help.</span>
                </div>
            </div>
        </li>
        <li>
            <div class="li_card location_planning cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">Location Planning</div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>Our partners have all worked as Location Planners for major retailers. Over the years we have had experience in building models which solve key spatial business problems across the retail, banking, insurance and property industries. Whether you need to understand how much a new store will take, sales cannibalisation or how to optimise delivery routes to reduce road miles we can help.</span>
                </div>
            </div>
        </li>
        <li>
            <div class="li_card omnichannel_retailing cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">Omnichannel Retailing</div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>GEOLYTIX believe many businesses are missing a trick by not better combining their demographic, spatial and customer data. Whether it’s loyalty card, online or mobile data we would love the opportunity to help you drive out more insight and get the right mix of Bricks and Clicks. Omni-channel retailing is resulting in more knowledgeable customers and it’s vital you understand them.</span>
                </div>
            </div>
        </li>
        <li>
            <div class="li_card spatial_modelling cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">Spatial Modelling</div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>Spatial is different and so needs its own toolbox. GEOLYTIX understand when a simple scorecard will suffice, or when a business will benefit from a customised gravity model. We’ll help you make the right decision, dependent on your industry and accuracy objectives. And we understand businesses don’t just need a model. GEOLYTIX will work with you to create a framework that will improve your processes & management reporting.</span>
                </div>
            </div>
        </li>
    </ul>

</div>


<div class="case_studies">
    <div class="case_studies__limiter">
        <p>Case Studies</p>
        <p>We build close, on-going relationships with our customers and will become your trusted advisors.</p>

        <div class="strip">
            <div class="cursor img__contain logo camelot active"></div>
            <div class="cursor img__contain logo johnlewis"></div>
            <div class="cursor img__contain logo onthemarket"></div>
            <div class="cursor img__contain logo arco"></div>
            <div class="cursor img__contain logo totalfitness"></div>
            <div class="cursor img__contain logo asda"></div>
        </div>

        <div class="container">
            <table>

                <tr>
                    <td>Camelot</td>
                    <td>Strategy</td>
                    <td>Results</td>
                    <td>John Lewis</td>
                    <td>Strategy</td>
                    <td>Results</td>
                    <td>On The Market</td>
                    <td>Strategy</td>
                    <td>Results</td>
                    <td>Arco</td>
                    <td>Strategy</td>
                    <td>Results</td>
                    <td>Total Fitness</td>
                    <td>Strategy</td>
                    <td>Results</td>
                    <td>ASDA</td>
                    <td>Strategy</td>
                    <td>Results</td>
                </tr>

                <tr>

                    <td>
                        <p>Predicting future revenue potential from new lottery terminals, marketing activity and product innovations.</p>
                    </td>
                    <td>
                        <ul>
                            <li>Understanding the behaviour of existing customers to build a model to predict the future.</li>
                            <li>Understand the effect of demographics and channel at a detailed level.</li>
                            <li>Develop on a platform that will provide in field analytics and mobile data capture, in order to futureproof processes and accuracy.</li>
                        </ul>
                    </td>
                    <td>
                        <p class="quote">"GEOLYTIX have transformed our location planning capability and have been fundamental in supporting our goal of unlocking opportunities for growth, optimising our ever changing retail network and further influencing channel strategies. They have absolutely enabled us to make better decisions where location matters."</p>
                        <p>Paul Clarke, Retail Planning Manager</p>
                    </td>

                    <td>
                        <p>Improving the efficiency of the Catchment Strategy Review Process.</p>
                    </td>
                    <td>
                        <ul>
                            <li>Our job was to focus on the process, rather than the modelling which John Lewis carry out in-house.</li>
                            <li>Automate all steps in the process – as few clicks as possible.</li>
                            <li>Include geodata to improve the system.</li>
                            <li>Allow multiple strategic scenarios to be carried out more quickly, including the addition of click and collect locations.
                            </li>
                        </ul>
                    </td>
                    <td>
                        <p class="quote">"The GEOLYTIX team were able to provide a bespoke solution that worked for us, rather than an off-the-shelf product. Simon went the extra mile and worked closely with us resulting in a significant improvement in efficiency, allowing multiple multi-channel strategy scenarios to be reviewed"</p>
                        <p>Michael Flood, Strategic Customer Analysis Manager</p>
                    </td>

                    <td>
                        <p>Supporting On The Market to deliver a web search tool that provides the right properties to view.</p>
                    </td>
                    <td>
                        <ul>
                            <li>Provide town and suburb boundaries that reflect where people want to live.</li>
                            <li>Support in creating a search hierarchy that covers all options for users.</li>
                            <li>Provide an accurate Point of Interest dataset to describe the provision in an area e.g. schools, public transport, supermarkets.</li>
                        </ul>
                    </td>
                    <td>
                        <p class="quote">"The GEOLYTIX team worked with us to understand our needs and provide accurate data that successfully reflects the areas where people want to search for property. Furthermore they supported our technical team with valuable advice, supporting us in delivering to tight timescales"</p>
                        <p>Morgan Ross, IT Director</p>
                    </td>

                    <td>
                        <p>Understanding the drivers of store performance, and to use this to develop a blueprint for expansion of the stores network across the UK.</p>
                    </td>
                    <td>
                        <ul>
                            <li>In depth analysis of store data to build understanding of branch catchment areas.</li>
                            <li>Identification of the key factors which drive branch performance – both at the macro (market) level and at the micro (location specific) level.</li>
                            <li>Development of a unique, bespoke database of all trade parks in the UK, each ranked according to it’s suitability for a new Arco store.</li>
                            <li>Identification of the best opportunities for new branch openings, in terms of both the markets to enter and the trade parks on which to locate.</li>
                        </ul>
                    </td>
                    <td>
                        <p class="quote">"The GEOLYTIX team worked closely with us to help us to understand our trade customers and stores. Their insight has identified the growth potential for our retail business, and a detailed blueprint to guide our strategic investments as we develop our branch portfolio."</p>
                        <p>Paul Frewin, Divisional Director - Retail</p>
                    </td>

                    <td>
                        <p>Understanding the size of the opportunity for new gym locations.</p>
                    </td>
                    <td>
                        <ul>
                            <li>Determining the best locations for the next Total Fitness gyms.</li>
                            <li>Understand the true customer profiles and catchments for specific location types.</li>
                            <li>Understand the size of the opportunity and how this affects market share and access to potential customers.
                            </li>
                        </ul>
                    </td>
                    <td>
                        <p class="quote">"The work by GEOLYTIX quickly allowed us to understand the potential for increasing our market share and how we could best achieve this. They have given us the insight to support our strategic decision making in order to push our business forward."</p>
                        <p>Richard Millman, CEO</p>
                    </td>

                    <td>
                        <p>A complete overhaul of new store forecasting processes and new space strategy.</p>
                    </td>
                    <td>
                        <ul>
                            <li>Business Requirements & IT Systems Design Review.</li>
                            <li>Forecasting Models Development– User front end to drive efficiency.</li>
                            <li>Team coaching and mentoring.</li>
                        </ul>
                    </td>
                    <td>
                        <p class="quote">“The data & modelling will drive an increase in our forecasting accuracy, bespoke software development makes us more efficient. Just as importantly, GEOLYTIX have mentored and up-skilled the team. The work we have done with GEOLYTIX has shaped our strategy and enabled us to reach a space growth plan we are confident about. GEOLYTIX are helping us to invest wisely.”</p>
                        <p>David Dodd, Market Strategy Manager</p>
                    </td>
                </tr>

            </table>
        </div>
    </div>

</div>


<div class="geodata">
    <p>GeoData</p>
    <p>Where people live, work, study and shop</p>
    <p>We create novel datasets using Open Data as inputs, to help with your network strategy and location based decisions.</p>

        <div class="geodata__select">
            <div id="seamless_locales" class="cursor selected">Seamless Locales</div>
            <div id="retail_points" class="cursor">Retail Points</div>
            <div id="retail_places" class="cursor">Retail Places</div>
            <div id="public_transport" class="cursor">Public Transport</div>
            <div id="postal_geom" class="cursor">Postal Geometries</div>
            <div id="town_suburb" class="cursor">Town and Suburb</div>
            <div id="education" class="cursor">Education</div>
            <div id="workplace" class="cursor">Work Places</div>
            <div id="poi" class="cursor">Points of Interest</div>
            <div id="residential" class="cursor">Residential</div>
            <div id="uk_admin" class="cursor">UK Admin</div>
            <div id="property" class="cursor">Property</div>
            <div id="road_network" class="cursor">Road Network</div>
            <div id="media_com" class="cursor">Media and Communications</div>
            <div id="physical" class="cursor">Physical Geography</div>
            <div id="pricing" class="cursor">Pricing</div>
            <div id="faq" class="cursor">FAQ</div>
        </div>

        <div class="geodata__info">
            <div class="geodata__scrolly">

                <div class="seamless_locales">
                    <div>
                        <p>100% Seamless UK definitions of natural markets at 4 levels, local, towns, district and region. Close match to true ‘markets’ at multiple scales.</p>
                        <p><a class="docu_link" href="https://drive.google.com/file/d/0B1GCK8cPXzg-TGdzNzA4VUY4TGs" target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
                        <table id="seamless_locales_info" class="info"></table>
                        <div class="attribution">
                            <p>Map data - OpenStreetMap</p>
                            <p>Tiles from CartoDB</p>
                        </div>
                    </div>
                </div>

                <div class="retail_points">
                    <div>
                        <p>Over 10,000 supermarket roof-top locations and addresses. Retailers include Aldi, Asda, Booths, Budgens, Co-op, Costco, Lidl, Marks and Spencer, Morrisons, Sainsbury’s, Tesco, Waitrose, Wholefoods. Please download for free and use this data openly.</p>
                        <p><a href="https://drive.google.com/file/d/0B1GCK8cPXzg-bGhoZk9DdUZLNTg" target="_blank">Download a zip archive containing the latest version of our Open Retail Points data pack.</a></p>
                        <p><a class="docu_link" href="https://drive.google.com/a/geolytix.co.uk/file/d/0B1GCK8cPXzg-ZUl6MDFUUkFBVEU" target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
                        <table class="legend">
                            <tr>
                                <td><img src="/public/images/map_icons/fascia_aldi.png"/></td>
                                <td><span id="aldi" class="cursor">Aldi</span></td>
                                <td><img src="/public/images/map_icons/fascia_asda.png"/></td>
                                <td><span id="asda" class="cursor active">Asda</span></td>
                            </tr>
                            <tr>
                                <td><img src="/public/images/map_icons/fascia_booths.png"/></td>
                                <td><span id="booths" class="cursor">Booths</span></td>
                                <td><img src="/public/images/map_icons/fascia_budgens.png"/></td>
                                <td><span id="budgens" class="cursor">Budgens</span></td>
                            </tr>
                            <tr>
                                <td><img src="/public/images/map_icons/fascia_co-op.png"/></td>
                                <td><span id="co-op" class="cursor">Co-op</span></td>
                                <td><img src="/public/images/map_icons/fascia_costco.png"/></td>
                                <td><span id="costco" class="cursor">Costco</span></td>
                            </tr>
                            <tr>
                                <td><img src="/public/images/map_icons/fascia_netto.png"/></td>
                                <td><span id="netto" class="cursor">Netto</span></td>
                                <td><img src="/public/images/map_icons/fascia_farmfoods.png"/></td>
                                <td><span id="farmfoods" class="cursor">Farmfoods</span></td>
                            </tr>
                            <tr>
                                <td><img src="/public/images/map_icons/fascia_fultons_foods.png"/></td>
                                <td><span id="fultons_foods" class="cursor">Fultons Foods</span></td>
                                <td><img src="/public/images/map_icons/fascia_heron_foods.png"/></td>
                                <td><span id="heron_foods" class="cursor">Heron Foods</span></td>
                            </tr>
                            <tr>
                                <td><img src="/public/images/map_icons/fascia_iceland.png"/></td>
                                <td><span id="iceland" class="cursor">Iceland</span></td>
                                <td><img src="/public/images/map_icons/fascia_lidl.png"/></td>
                                <td><span id="lidl" class="cursor">Lidl</span></td>
                            </tr>
                            <tr>
                                <td><img src="/public/images/map_icons/fascia_makro.png"/></td>
                                <td><span id="makro" class="cursor">Makro</span></td>
                                <td><img src="/public/images/map_icons/fascia_marks_spencer.png"/></td>
                                <td><span id="marks_spencer" class="cursor">Marks & Spencer</span></td>
                            </tr>
                            <tr>
                                <td><img src="/public/images/map_icons/fascia_morrisons.png"/></td>
                                <td><span id="morrisons" class="cursor active">Morrisons</span></td>
                                <td><img src="/public/images/map_icons/fascia_sainsburys.png"/></td>
                                <td><span id="sainsburys" class="cursor active">Sainsbury's</span></td>
                            </tr>
                            <tr>
                                <td><img src="/public/images/map_icons/fascia_tesco.png"/></td>
                                <td><span id="tesco" class="cursor active">Tesco</span></td>
                                <td><img src="/public/images/map_icons/fascia_waitrose.png"/></td>
                                <td><span id="waitrose" class="cursor">Waitrose</span></td>
                            </tr>
                            <tr>
                                <td><img src="/public/images/map_icons/fascia_whole_foods.png"/></td>
                                <td><span id="whole_foods" class="cursor">Whole Foods</span></td>
                            </tr>
                        </table>
                        <div class="attribution">
                            <p>Map data - OpenStreetMap</p>
                            <p>Tiles from CartoDB</p>
                        </div>
                    </div>
                </div>

                <div class="retail_places">
                    <div>
                        <p>More than 20k scored, profiled and named polygons detailing where people shop in the UK, and catchment area demographics. Ideal for locating new sites and understanding micro location performance. Additionally pitch can be purchased along side this pack.</p>
                        <p><a href="https://drive.google.com/file/d/0B1GCK8cPXzg-OWE4Q3Nrdzk3d2M" target="_blank">Download a sub-set of four hundred centres; scored, profiled and named polygons detailing where people shop in the UK. Note that the Open version requires attribution of the Ordnance Survey, Royal Mail, and GEOLYTIX.</a></p>
                        <p><a class="docu_link" href="https://drive.google.com/open?id=0B1GCK8cPXzg-OWE4Q3Nrdzk3d2M" target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
                        <div class="attribution">
                            <p>Map data - OpenStreetMap</p>
                            <p>Tiles from CartoDB</p>
                        </div>
                    </div>
                </div>

                <div class="public_transport">
                    <div>
                        <p>Precise access points to all public transport including detailed volume data. Perfect for accessibility studies and modelling on-street pedestrian volume.</p>
                        <p><a class="docu_link" href="https://drive.google.com/file/d/0B1GCK8cPXzg-Q3MwM2pvS1FlNHM" target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
                        <div class="attribution">
                            <p>Map data - OpenStreetMap</p>
                            <p>Tiles from CartoDB</p>
                        </div>
                    </div>
                </div>

                <div class="postal_geom">
                    <div>
                        <p>High resolution postal boundaries combining exceptional ‘enclosure’ accuracy with boundaries that follow real-world features.</p>
                        <p><a href="https://drive.google.com/file/d/0B5UPsNN3XERXZi00WE5aZTBXV0E" target="_blank">Download a zip archive containing 9,232 geographic postal sector boundaries covering Great Britain as of October 2012. Released under the same terms as the OS OpenData license with the single addition of GEOLYTIX to the attribution list.</a></p>
                        <p><a class="docu_link" href="https://drive.google.com/file/d/0B1GCK8cPXzg-Nk5nZ2c0S2JUOTg" target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
                        <div class="attribution">
                            <p>Map data - OpenStreetMap</p>
                            <p>Tiles from CartoDB</p>
                        </div>
                    </div>
                </div>

                <div class="town_suburb">
                    <div>
                        <p>A precise and intuitive set of 30,000 named ‘places’ across the UK richly attributed with data. Ideal base for UK wide profiling and benchmarking.</p>
                        <p><a class="docu_link" href="https://drive.google.com/file/d/0B1GCK8cPXzg-bDhiZkY2a2VmQk0" target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
                        <table id="town_suburb_info" class="info"></table>
                        <div class="attribution">
                            <p>Map data - OpenStreetMap</p>
                            <p>Tiles from CartoDB</p>
                        </div>
                    </div>
                </div>

                <div class="education">
                    <div>
                        <p>All University buildings & entrances digitised and attributed, with student counts. All primary and secondary schools both private and state. Includes school roll data, exam results and pupil demographics. Includes official codes for onward linking.</p>
                        <p><a class="docu_link" href="https://drive.google.com/file/d/0B1GCK8cPXzg-ZF9NbjZ6WXVxQUE" target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
                        <div class="attribution">
                            <p>Map data - OpenStreetMap</p>
                            <p>Tiles from CartoDB</p>
                        </div>
                    </div>
                </div>

                <div class="workplace">
                    <div>
                        <p>Up to date worker counts for more than 400,000 commercial postcodes across the UK. Split by type of occupation for a deeper understanding of who works where.</p>
                        <p><a class="docu_link" href="https://drive.google.com/open?id=0B1GCK8cPXzg-bzJ2TF9KWFZiNEE" target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
                        <div id="legend__workplace" class="tmpl__legend"></div>
                        <div class="attribution">
                            <p>Map data - OpenStreetMap</p>
                            <p>Tiles from CartoDB</p>
                        </div>
                    </div>
                </div>

                <div class="poi">
                    <div>
                        <p>A collection of points of interest across the UK including healthcare locations, law and order sites along with sport & leisure facilities, car parks, cinemas and service areas.</p>
                        <p><a class="docu_link" href="https://drive.google.com/file/d/0B1GCK8cPXzg-V1F1ZEFTX0xuRG8" target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
                        <table class="legend">
                            <tr>
                                <td><img src="/public/images/map_icons/poi_carpark.png"/></td>
                                <td><span id="carpark" class="cursor active">Carpark</span></td>
                                <td><img src="/public/images/map_icons/poi_cinema.png"/></td>
                                <td><span id="cinema" class="cursor">Cinema</span></td>
                            </tr>
                            <tr>
                                <td><img src="/public/images/map_icons/poi_court.png"/></td>
                                <td><span id="court" class="cursor">Court</span></td>
                                <td><img src="/public/images/map_icons/poi_prison.png"/></td>
                                <td><span id="prison" class="cursor">Prison</span></td>
                            </tr>
                            <tr>
                                <td><img src="/public/images/map_icons/poi_sport_leisure.png"/></td>
                                <td><span id="sport_leisure" class="cursor">Sports Facility</span></td>
                                <td><img src="/public/images/map_icons/poi_stadium.png"/></td>
                                <td><span id="stadium" class="cursor">Stadium</span></td>
                            </tr>
                            <tr>
                                <td><img src="/public/images/map_icons/poi_service_area.png"/></td>
                                <td><span id="service_area" class="cursor">Service Area</span></td>
                                <td><img src="/public/images/map_icons/poi_garage.png"/></td>
                                <td><span id="garage" class="cursor">Garage</span></td>
                            </tr>
                            <tr>
                                <td><img src="/public/images/map_icons/poi_gp.png"/></td>
                                <td><span id="gp" class="cursor">General Practitioner</span></td>
                                <td><img src="/public/images/map_icons/poi_optician.png"/></td>
                                <td><span id="optician" class="cursor">Optician</span></td>
                            </tr>
                            <tr>
                                <td><img src="/public/images/map_icons/poi_pharmacy.png"/></td>
                                <td><span id="pharmacy" class="cursor">Pharmacy</span></td>
                                <td><img src="/public/images/map_icons/poi_hospital.png"/></td>
                                <td><span id="hospital" class="cursor">Hospital</span></td>
                            </tr>
                            <tr>
                                <td><img src="/public/images/map_icons/poi_dentist.png"/></td>
                                <td><span id="dentist" class="cursor">Dentist</span></td>
                            </tr>
                        </table>
                        <div class="attribution">
                            <p>Map data - OpenStreetMap</p>
                            <p>Tiles from CartoDB</p>
                        </div>
                    </div>
                </div>

                <div class="residential">
                    <div>
                        <p>Data relating to residential and population, current and forecasted figures.</p>
                        <p><a class="docu_link" href="https://drive.google.com/open?id=0B1GCK8cPXzg-VTU2a0hRY2VrREk" target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
                        <div class="attribution">
                            <p>Map data - OpenStreetMap</p>
                            <p>Tiles from CartoDB</p>
                        </div>
                    </div>
                </div>

                <div class="uk_admin">
                    <div>
                        <p>All UK’s administrative boundaries in a consistent package. Includes all police, health, fire, EU zones, regions, constituencies, wards and statistical geographies. The core framework which all national statistics are published within.</p>
                        <p><a href="https://drive.google.com/file/d/0B1GCK8cPXzg-Ui1FYWpxRDctT1k" target="_blank">Download a collection of 197 variables as Output Area (OA) level. English, Welsh, Scottish and Northern Irish Census data processed into a single easy-to-use flat file. We have released free-of-charge and under the same license terms as the census.</a></p>
                        <p><a class="docu_link" href="https://drive.google.com/a/geolytix.co.uk/file/d/0B1GCK8cPXzg-QlBsUS1TaWhTU0k" target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
                        <div class="attribution">
                            <p>Map data - OpenStreetMap</p>
                            <p>Tiles from CartoDB</p>
                        </div>
                    </div>
                </div>

                <div class="property">
                    <div>
                        <p>All housing transactions since 1995 including address, value and classifications. A continually growing source of local area insight. Plus all 500K listed properties across the UK.</p>
                        <p><a class="docu_link" href="https://drive.google.com/open?id=0B1GCK8cPXzg-V3lEYnNBQVMxckk" target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
                        <div id="legend__property" class="tmpl__legend"></div>
                        <div class="attribution">
                            <p>Map data - OpenStreetMap</p>
                            <p>Tiles from CartoDB</p>
                        </div>
                    </div>
                </div>

                <div class="road_network">
                    <div>
                        <p>Routable Link/Node data with link-level mid-afternoon speeds based on Highways agency probe data and sophisticated speed model; painlessly integrates into multiple routing software tools.</p>
                        <p><a class="docu_link" href="https://drive.google.com/file/d/0B1GCK8cPXzg-bVlZRnBiMEFxbms" target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
                        <div class="attribution">
                            <p>Map data - OpenStreetMap</p>
                            <p>Tiles from CartoDB</p>
                        </div>
                    </div>
                </div>

                <div class="media_com">
                    <div>
                        <p>A spatial dataset of broadcasting regions, broadband speeds by postcode, Wi-Fi hotspots by postcode and radio coverage.</p>
                        <p><a class="docu_link" href="https://drive.google.com/open?id=0B1GCK8cPXzg-Wjl3SnUtZzdzQXM" target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
                        <div id="legend__media" class="tmpl__legend"></div>
                        <div class="attribution">
                            <p>Map data - OpenStreetMap</p>
                            <p>Tiles from CartoDB</p>
                        </div>
                    </div>
                </div>

                <div class="physical">
                    <div>
                        <p>High resolution coastlines, hydrology, contours and summits. Key input to classic outdoor maps.</p>
                        <p><a class="docu_link" href="https://drive.google.com/open?id=0B1GCK8cPXzg-UlZGbGR1VExkT1E" target="_blank"><i class="icon-file-pdf"></i> Documentation</a></p>
                        <div class="attribution">
                            <p>Map data - OpenStreetMap</p>
                            <p>Tiles from CartoDB</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="geodata__content">

            <div id="map_geodata"></div>

            <div class="mapButton btnZoomIn">
                <i class="material-icons">add</i>
            </div>

            <div class="mapButton btnZoomOut">
                <i class="material-icons">remove</i>
            </div>

            <div class="mapButton btnFullScreen">
                <i class="material-icons">launch</i>
            </div>

        </div>

    <div class="geodata__pricing">
            <p>These are the most popular plans for full corporate use with no restrictions on user number or user cases.</p>
            <div class="price_box img__contain three"></div>
            <div class="price_box img__contain six"></div>
            <div class="price_box img__contain all"></div>
    </div>

    <div class="geodata__faq">
        <table>
            <tbody>
            <tr>
                <td class="title">IS THE DATA I PURCHASE LICENSED?</td>
                <td class="title">CAN I PUBLISH THE DATA?</td>
            </tr>
            <tr>
                <td>Yes, our aim is to keep licensing simple and transparent. All prices shown are for an annual right to use. This includes full corporate use with no restrictions on user numbers.
                </td>
                <td>The prices shown are for internal business use only. If you would like to use the data in a website or in a commercial product we’d be delighted to discuss options so please get in touch.
                </td>
            </tr>
            <tr>
                <td class="title">WHAT SOFTWARE CAN THE DATA BE USED IN?</td>
                <td class="title">I CAN’T TELL IF THE DATA IS WHAT I NEED?</td>
            </tr>
            <tr>
                <td>We provide our data in all formats commonly used by desktop GIS, spatial databases and web mapping applications. We’re more than happy to discuss, whatever your software requirements are.
                </td>
                <td>Then please get in touch. We’d be delighted to pay a visit and take you through the data with examples of the benefits and how it can be used.
                </td>
            </tr>
            <tr>
                <td class="title">HOW OFTEN IS THE DATA UPDATED?</td>
                <td class="title">I’M INTERESTED, HOW DO I BUY?</td>
            </tr>
            <tr>
                <td>Every pack is updated at least annually, with some packs updated every quarter. Ask for more details.
                </td>
                <td>Please get in touch, we can send you the data asap and provide payment details.</td>
            </tr>
            <tr>
                <td class="title">CAN I SEE A USER GUIDE / DOCUMENTATION?</td>
                <td class="title">HOW DOES THE DATA ARRIVE?</td>
            </tr>
            <tr>
                <td>Yes of course, please get in touch and we will send the same day.</td>
                <td>We can send a link to download, memory stick or DVD.</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


<div id="team_photo"></div>

<div class="team">
    <p>Meet the team</p>
    <p>We understand the likely challenges you will face.</p>

    <ul class="ul_grid">
        <li>
            <div class="li_card blair cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">
                    <span>Blair Freebairn</span><br>
                    <span>Chief Executive</span>
                </div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>Blair has built gravity models for 10 of the 15 largest retailers the last 20 years. Previously head of analytics at MapInfo UK, in September 2011 he took the plunge, and set up his own business focused on helping businesses solve problems where location matters – GEOLYTIX was born.
                    <a href="https://uk.linkedin.com/in/blair-freebairn-4176ab11" target="_blank"><i class="icon-linkedin-squared"></i></a></span>
                </div>
            </div>
        </li>
        <li>
            <div class="li_card sarah cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">
                    <span>Sarah Hitchcock</span><br>
                    <span>Chief Operating Officer</span>
                </div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>Sarah started her career at Boots working on ground-breaking customer analysis following the launch of Advantage Card. Prior to GEOLYTIX, Sarah led the Network Planning team at Sainsbury's during an exciting period when space growth and her team's ambitious strategy was a key driver of Sainsbury's success.
                    <a href="https://www.linkedin.com/in/sarah-hitchcock-808390b" target="_blank"><i class="icon-linkedin-squared"></i></a></span>
                </div>
            </div>
        </li>
        <li>
            <div class="li_card neil cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">
                    <span>Neil Farricker</span><br>
                    <span>Director of Data Science</span>
                </div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>Neil, a mathematician with too many qualifications to mention, has built models for retailers, banks & insurers over the last 15 years. Previously a senior modeller at Mapinfo UK, Neil started out at the Co-op where he spent 5 years overhauling their modelling and processes.
                    <a href="https://www.linkedin.com/in/neil-farricker-6566a338" target="_blank"><i class="icon-linkedin-squared"></i></a></span>
                </div>
            </div>
        </li>
        <li>
            <div class="li_card samantha cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">
                    <span>Samantha Colebatch</span><br>
                    <span>Commercial Director</span>
                </div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>For 15 years Samantha has shaped the expansion of retailers in the UK and Australia. After supporting Coles Myer through multi-format development she moved to Sainsbury’s. Samantha led their strategy for network expansion, before taking a lead role in transforming Sainsbury’s non-food operation.
                    <a href="https://www.linkedin.com/in/samantha-colebatch-hodkinson-09a30564" target="_blank"><i class="icon-linkedin-squared"></i></a></span>
                </div>
            </div>
        </li>
        <li>
            <div class="li_card simon cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">
                    <span>Simon Dixon</span><br>
                    <span>Technical Director</span>
                </div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>Simon has delivered GIS based solutions and customer friendly user interfaces for many retailers, local authorities and transport consultants. Previously Simon led the Technical team within the Network Planning department at Sainsbury’s.
                    <a href="https://www.linkedin.com/in/simon-dixon-2b261761" target="_blank"><i class="icon-linkedin-squared"></i></a></span>
                </div>
            </div>
        </li>
        <li>
            <div class="li_card louise cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">
                    <span>Louise Cross</span><br>
                    <span>Data Scientist</span>
                </div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>Louise is a geographer specialising in GIS and has a passion for Open Data. Her first role at GEOLYTIX was supporting a major UK retailer with an overhaul of their site forecasting systems, data and methodology. Lou manages our GeoData range, creating innovative new data products.
                    <a href="https://www.linkedin.com/in/louise-cross-7b70916b" target="_blank"><i class="icon-linkedin-squared"></i></a>
                    <a href="https://twitter.com/WheresLou" target="_blank"><i class="icon-twitter-squared"></i></a></span>
                </div>
            </div>
        </li>
        <li>
            <div class="li_card christoph cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">
                    <span>Christoph Mülligann</span><br>
                    <span>Data Scientist</span>
                </div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>Christoph has an education in Geoinformatics from the University of Munster, Germany. Having worked at on-geo in Dortmund creating a flagship website for property valuation, he is an expert in programming for the web. At GEOLYTIX Christoph writes code that crunches big data sets for our spatial models and GeoData range.
                    <a href="https://www.linkedin.com/in/christoph-mülligann-a8a76194" target="_blank"><i class="icon-linkedin-squared"></i></a></span>
                </div>
            </div>
        </li>
        <li>
            <div class="li_card jasmin cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">
                    <span>Jasmin Fitzpatrick</span><br>
                    <span>Associate</span>
                </div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>Jasmin is a geographer from Leeds University. Having managed the GIS and mapping function at Colliers International UK, she now supports our customers and delivers spatial solutions to help with their strategic network decisions.
                    <a href="https://www.linkedin.com/in/jasminfitzpatrick" target="_blank"><i class="icon-linkedin-squared"></i></a></span>
                </div>
            </div>
        </li>
        <li>
            <div class="li_card dennis cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">
                    <span>Dennis Bauszus</span><br>
                    <span>Web Solutions Engineer</span>
                </div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>Dennis has previously worked as a project manager for Cadcorp and joins GEOLYTIX as a web developer from Argeomatica in Mexico City. His 20 years of professional experience in the spatial information sector have seen many transitions; From field work and paper maps to digital, from desktop to cloud, and most recently from proprietary to open source technologies.
                    <a href="https://www.linkedin.com/in/dennis-bauszus-45b55760" target="_blank"><i
                                class="icon-linkedin-squared"></i></a>
                    <a href="http://stackexchange.com/users/2521477/dennis-bauszus?tab=accounts" target="_blank"><i
                                class="icon-stackexchange"></i></a>
                    <a href="https://github.com/dbauszus" target="_blank"><i class="icon-github"></i></a>
                    <a href="http://dbauszus.xyz/" target="_blank"><i class="icon-wordpress"></i></a></span>
                </div>
            </div>
        </li>
        <li>
            <div class="li_card martin cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">
                    <span>Martin Bregazzi</span><br>
                    <span>Associate</span>
                </div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>Martin has over 20 years’ experience of research and analysis in retail property, leading teams in delivering location strategy, new market entry and M&A analysis across multiple sectors of the market, with experience in the UK, Europe, North and Central America and Asia.
                    <a href="https://www.linkedin.com/in/martin-bregazzi-8345835b" target="_blank"><i class="icon-linkedin-squared"></i></a></span>
                </div>
            </div>
        </li>
        <li>
            <div class="li_card alana cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">
                    <span>Alana Sutton</span><br>
                    <span>Location Analyst</span>
                </div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>Alana has recently joined GEOLYTIX after graduating with a Geography degree from the University of Leeds. With a particular interest in location analysis, she is enjoying being involved with a wide range of projects, building on the skills learnt during her degree.
                    <a href="https://www.linkedin.com/in/alanasutton1" target="_blank"><i class="icon-linkedin-squared"></i></a>
                    <a href="https://twitter.com/AlanaSutton1" target="_blank"><i class="icon-twitter-squared"></i></a></span>
                </div>
            </div>
        </li>
        <li>
            <div class="li_card kerst cursor">
                <div class="li_card__img img__contain"></div>
                <div class="li_card__title">
                    <span>Kerst Mattner</span><br>
                    <span>Data Scientist</span>
                </div>
            </div>
            <div class="li_expander">
                <div class="li_card__content">
                    <span>Kerst has an education in GIS from the University of Edinburgh. He joins GEOLYTIX as a Data Scientist and is busy analysing customer data and developing technical solutions for them.
                    <a href="https://www.linkedin.com/in/kerst-mattner-92a931107" target="_blank"><i class="icon-linkedin-squared"></i></a></span>
                </div>
            </div>
        </li>
    </ul>

</div>


<div class="contact">
    <div class="contact__limiter">
        <div class="mapButton btnZoomIn">
            <i class="material-icons">add</i>
        </div>
        <div class="mapButton btnZoomOut">
            <i class="material-icons">remove</i>
        </div>
        <div id="map_contact"></div>
        <div class="contact__text">
            <p>Contact Us</p>
            <p x-ms-format-detection="none">+44 20 82 42 41 66</p>
            <a href="mailto:info@geolytix.co.uk">info@geolytix.co.uk</a>
            <p>Phoenix Yard</p>
            <p>65 Kings Cross Road</p>
            <p>London</p>
            <p>WC1X 9LW</p>
        </div>
    </div>
</div>


<div class="awards">

    <div class="strip">
        <a class="img__contain" href="http://blog.geolytix.net/2016/07/01/data-analytics-firm-geolytix-win-queens-award-for-enterprise" target="_blank"></a>
        <a class="img__contain" href="https://theodi.org/news/first-odi-open-data-awards-presented-by-sir-tim-berners-lee-and-sir-nigel-shadbolt" target="_blank"></a>
        <a class="img__contain" href="http://businessawardslondon.co.uk" target="_blank"></a>
    </div>

    <div class="strip">
        <a class="img__contain"></a>
        <a class="img__contain" href="http://www.nationalbusinessawards.co.uk/Content/2015-Winners-of-the-National-Business-Awards-2014/4_10" target="_blank"></a>
        <a class="img__contain" href="http://www.thesla.org/previous-winners" target="_blank"></a>
        <a class="img__contain"></a>
    </div>

</div>


<div class="footer">
    <ul class="ul_grid">

        <li>
            <div class="li_card">
                <a href="http://theodi.org/" target="_blank">
                    <img src="/public/images/logo_odi_supporter.png"/>
                </a>
            </div>
        </li>

        <li>
            <div class="li_card">
                <p class="social_media__icons">
                    <a href="https://www.linkedin.com/company/geolytix" target="_blank"><i class="icon-linkedin-squared"></i></a>
                    <a href="http://twitter.com/geolytix" target="_blank"><i class="icon-twitter-squared"></i></a>
                    <a href="http://stackoverflow.com/jobs/companies/geolytix" target="_blank"><i class="icon-stackoverflow"></i></a>
                </p>
                <a class="privacy_policy" target="_blank" href="https://docs.google.com/document/d/1ZyhEzxi0MCsMK3HnR6fGpBhNm725916AxmElkOsHFIY">Privacy Policy</a>
                <a class="terms_conditions" target="_blank" href="https://docs.google.com/document/d/1MteGDtrZx2TWXcuKqTzEMPRGmtlvEzF0g9Vy9r5H_vs">Terms & Conditions</a>
            </div>
        </li>

        <li>
            <div class="li_card">
                <p>© 2017 GEOLYTIX Ltd.</p>
                <p>All rights reserved</p>
            </div>
        </li>

    </ul>
</div>

</body>

<script type="application/javascript" src="/public/js/jsrender.min.js"></script>
<script type="application/javascript" src="/public/js/leaflet.js"></script>
<script type="application/javascript" src="/public/js/proj4.js"></script>
<script type="application/javascript" src="/public/js/proj4leaflet.js"></script>
<script type="application/javascript" src="/public/js/turf.js"></script>
<script type="application/javascript" src="/public/js/leaflet.NonTiledLayer.js"></script>
<script type="application/javascript" src="/public/js/leaflet.NonTiledLayer.WMS.js"></script>
<script type="application/javascript" src="/public/js/geolytix.js"></script>
<script type="application/javascript" src="/public/js/geodata.js"></script>

</html>