<!DOCTYPE html>
<html lang="en">

<head>
    <title>GEOLYTIX</title>
    <meta name="description"
          content="Experts in providing data and services for location, demographic, customer and market analysis for retailers and investors in the UK, Europe and America."/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript">
        if (/MSIE (\d+\.\d+);/.test(navigator.userAgent)) {
            if (Number(RegExp.$1) <= 7) {
                window.location = "//blog.geolytix.net";
            }
        }
        if (window.innerWidth <= 799) {
            window.location = "/mobile";
        }
    </script>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bigtext.js"></script>
    <script src="/public/js/webfontloader.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-82852467-1', 'auto');
        ga('send', 'pageview');

        WebFont.load({
            custom: {
                families: ['ffmark_black', 'ffmark_thin', 'ffmark', 'ffmark_bold', 'ffmark_italic'],
                urls: ['/public/css/fontello_embedded.css']
            },
            active: function () {
                $('.bigtext').bigtext();
            }
        });
    </script>
    <link rel="stylesheet" href="/public/css/leaflet.css"/>
    <link rel="stylesheet" href="/public/css/geolytix.css"/>
</head>

<body>

<div class="header__menu">
    <div class="home cursor"><a href="https://geolytix.net">GEOLYTIX</a></div>
    <div class="contact cursor scroll__contact">Contact</div>
    <div class="team cursor">Team</div>
    <a class="blog cursor" href="http://blog.geolytix.net">Blog</a>
    <div class="geodata cursor">Geodata</div>
    <div class="clients cursor">Case Studies</div>
    <div class="services cursor">Services</div>
</div>


<div class="body__outer">
    <div class="body__inner">


        <div class="section img__cover" id="section_intro">
            <div class="bigtext">
                <span>Make better</span><span>decisions where location matters</span>
            </div>
        </div>


        <div class="section" id="section_services">
            <p class="title">Services</p>
            <p class="intro">The world is not short of data or software. GEOLYTIX turns data and code into something that helps your organisation make better decisions.</p>

            <ul class="ul_grid">
                <li>
                    <div class="li_card network_strategy cursor">
                        <div class="li_card__img img__contain"></div>
                        <div class="li_card__title">Network Strategy</div>
                    </div>
                    <div class="li_expander">
                        <div class="li_card__content">
                            <span>Since the day GEOLYTIX came into being, we have been telling our customers where to go. For example how many stores, who to acquire, where to open stores, what to sell in them and how to optimise home delivery and click & collect operations. We build close, on-going relationships with our customers and will become your trusted advisors.</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_card location_planning cursor">
                        <div class="li_card__img img__contain"></div>
                        <div class="li_card__title">Location Planning</div>
                    </div>
                    <div class="li_expander">
                        <div class="li_card__content">
                            <span>Our partners have all worked as Location Planners for major retailers. Over the years we have had experience in building models which solve key spatial business problems across the retail, banking, insurance and property industries. Whether you need to understand how much a new store will take, sales cannibalisation or how to optimise delivery routes to reduce road miles we can help.</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_card omnichannel_retailing cursor">
                        <div class="li_card__img img__contain"></div>
                        <div class="li_card__title">Omnichannel Retailing</div>
                    </div>
                    <div class="li_expander">
                        <div class="li_card__content">
                            <span>GEOLYTIX believe many businesses are missing a trick by not better combining their demographic, spatial and customer data. Whether it’s loyalty card, online or mobile data we would love the opportunity to help you drive out more insight and get the right mix of Bricks and Clicks. Omni-channel retailing is resulting in more knowledgeable customers and it’s vital you understand them.</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_card spatial_targeting cursor">
                        <div class="li_card__img img__contain"></div>
                        <div class="li_card__title">Spatial Targeting</div>
                    </div>
                    <div class="li_expander">
                        <div class="li_card__content">
                            <span>Spatial is different and so needs it's own toolbox. GEOLYTIX understand when a simple scorecard will suffice, or when a business will benefit from a customised gravity model. We’ll help you make the right decision, dependent on your industry and accuracy objectives. And we understand businesses don’t just need a model. GEOLYTIX will work with you to create a framework that will improve your processes & management reporting.</span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>


        <div class="section" id="section_clients">
            <p class="title">Case Studies</p>
            <p class="intro">The best way to understand what we do is to read about how we’ve been helping our customers.</p>

            <div class="strip">
                <div class="cursor img__contain logo johnlewis active"></div>
                <div class="cursor img__contain logo camelot"></div>
                <div class="cursor img__contain logo onthemarket"></div>
                <div class="cursor img__contain logo boots"></div>
                <div class="cursor img__contain logo totalfitness"></div>
                <div class="cursor img__contain logo asda"></div>
            </div>

            <div class="container">

                <table>
                    <tbody>

                    <tr>
                        <td><span>John Lewis</span></td>
                        <td><span>Strategy</span></td>
                        <td><span>Results</span></td>

                        <td><span>Camelot</span></td>
                        <td><span>Strategy</span></td>
                        <td><span>Results</span></td>

                        <td><span>On The Market</span></td>
                        <td><span>Strategy</span></td>
                        <td><span>Results</span></td>

                        <td><span>Boots</span></td>
                        <td><span>Strategy</span></td>
                        <td><span>Results</span></td>

                        <td><span>Total Fitness</span></td>
                        <td><span>Strategy</span></td>
                        <td><span>Results</span></td>

                        <td><span>Asda</span></td>
                        <td><span>Strategy</span></td>
                        <td><span>Results</span></td>
                    </tr>

                    <tr>
                        <td>
                            <p>The objective was to improve the efficiency of the Catchment Strategy Review Process.</p>
                        </td>
                        <td>
                            <ul>
                                <li>Our job was to focus on the process, rather than the modelling which John Lewis carry out in-house.
                                </li>
                                <li>Automate all steps in the process – as few clicks as possible.</li>
                                <li>Include geodata to improve the system.</li>
                                <li>Allow multiple strategic scenarios to be carried out more quickly, including the addition of click and collect locations.
                                </li>
                            </ul>
                        </td>
                        <td>
                            <p class="quote">"The GEOLYTIX team were able to provide a bespoke solution that worked for us, rather than an off-the-shelf product. Simon went the extra mile and worked closely with us resulting in a significant improvement in efficiency, allowing multiple multi-channel strategy scenarios to be reviewed"</p>
                            <p>Michael Flood, Strategic Customer Analysis Manager</p>
                        </td>


                        <td>
                            <p>The objective was to predict future revenue potential from new lottery terminals, marketing activity and product innovations.</p>
                        </td>
                        <td>
                            <ul>
                                <li>Understanding the behaviour of existing customers to build a model to predict the future.
                                </li>
                                <li>Understand the effect of demographics and channel at a detailed level.</li>
                                <li>Develop on a platform that will provide in field analytics and mobile data capture, in order to futureproof processes and accuracy.
                                </li>
                            </ul>
                        </td>
                        <td>
                            <p class="quote">"GEOLYTIX have transformed our location planning capability and have been fundamental in supporting our goal of unlocking opportunities for growth, optimising our ever changing retail network and further influencing channel strategies. They have absolutely enabled us to make better decisions where location matters."</p>
                            <p>Paul Clarke, Retail Planning Manager</p>
                        </td>


                        <td>
                            <p>The objective was to support On The Market to deliver a web search tool that provides the right properties to view.</p>
                        </td>
                        <td>
                            <ul>
                                <li>Provide town and suburb boundaries that reflect where people want to live.</li>
                                <li>Support in creating a search hierarchy that covers all options for users.</li>
                                <li>Provide an accurate Point of Interest dataset to describe the provision in an area e.g. schools, public transport, supermarkets.
                                </li>
                            </ul>
                        </td>
                        <td>
                            <p class="quote">"The GEOLYTIX team worked with us to understand our needs and provide accurate data that successfully reflects the areas where people want to search for property. Furthermore they supported our technical team with valuable advice, supporting us in delivering to tight timescales"</p>
                            <p>Morgan Ross, IT Director</p>
                        </td>


                        <td>
                            <p>The objective was to improve store forecasting accuracy and understand further sales potential across the UK.</p>
                        </td>
                        <td>
                            <ul>
                                <li>Understanding how demographics drive customer spend.</li>
                                <li>Develop a store forecasting model – taking into account other Boots stores and the retail landscape.
                                </li>
                                <li>On site for 6 months building with the analytical team.</li>
                                <li>In-depth review of recent openings.</li>
                            </ul>
                        </td>
                        <td>
                            <p class="quote">"What we experienced surpassed our high expectations. Rather than trying to shoe-horn a pre-existing model to fit our requirements, GEOLYTIX worked with us to really understand our markets, shops, and customers until we all felt that the best solution had been reached. They have proved to be an excellent partner to us as we extend our portfolio planning capability."</p>
                            <p>Simon Prinn, Senior Retail Analytics Manager</p>
                        </td>


                        <td>
                            <p>The objective was to understand the size of the opportunity for new gym locations for Total Fitness.</p>
                        </td>
                        <td>
                            <ul>
                                <li>Determining the best locations for the next Total Fitness gyms.</li>
                                <li>Understand the true customer profiles and catchments for specific location types.
                                </li>
                                <li>Understand the size of the opportunity and how this affects market share and access to potential customers.
                                </li>
                            </ul>
                        </td>
                        <td>
                            <p class="quote">"The work by GEOLYTIX quickly allowed us to understand the potential for increasing our market share and how we could best achieve this. They have given us the insight to support our strategic decision making in order to push our business forward."</p>
                            <p>Richard Millman, CEO</p>
                        </td>


                        <td>
                            <p>The objective was a complete overhaul of new store forecasting processes and new space strategy.</p>
                        </td>
                        <td>
                            <ul>
                                <li>Business Requirements & IT Systems Design Review.</li>
                                <li>Forecasting Models Development– User front end to drive efficiency.</li>
                                <li>Team coaching and mentoring.</li>
                            </ul>
                        </td>
                        <td>
                            <p class="quote">“The data & modelling will drive an increase in our forecasting accuracy, bespoke software development makes us more efficient. Just as importantly, GEOLYTIX have mentored and up-skilled the team. The work we have done with GEOLYTIX has shaped our strategy and enabled us to reach a space growth plan we are confident about. GEOLYTIX are helping us to invest wisely.”</p>
                            <p>David Dodd, Market Strategy Manager</p>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>


        <div class="spacer" id="spacer_clients">
            <div class="link__intro scroll__contact cursor">We would like to talk to you.</div>
        </div>


        <div class="section" id="section_geodata">
            <p class="title">Geodata</p>
            <div class="table-row__spacer"></div>
            <p class="intro">Where people live, work and shop; retail ranks and pitch, town boundaries, postal sectors, demographics, university boundaries. We create novel datasets using Open Data as inputs, to help with your network strategy and location based decisions. We also give back to the Open Data community by releasing open datasets such as Retail Points.</p>
            <div class="table-row__spacer"></div>
            <div class="container">

                <div class="select">
                    <div class="select__inner">
                        <div class="cursor retail_points selected">Retail Points</div>
                        <div class="cursor retail_places">Retail Places</div>
                        <div class="cursor seamless_locales">Seamless Locales</div>
                        <div class="cursor town_suburbs">Town and Suburb</div>
                        <div class="cursor postal_geom">Postal Geometries</div>
                        <div class="cursor public_transport">Public Transport</div>
                        <div class="cursor road_network">Road Network</div>
                        <div class="cursor uk_admin">UK Admin</div>
                        <div class="cursor education">Education</div>
                        <div class="cursor poi">Points of Interest</div>
                        <div class="cursor pricing">Pricing</div>
                        <div class="cursor faq">FAQ</div>
                    </div>
                </div>

                <div class="content map">
                    <div id="map_geodata"></div>
                    <div class="map__expand"><i class="icon-resize-full"></i></div>
                    <div class="info retail_points">
                        <p>Over 10,000 supermarket roof-top locations and addresses. Retailers include Aldi, Asda, Booths, Budgens, Co-op, Costco, Lidl, Marks and Spencer, Morrisons, Sainsbury’s, Tesco, Waitrose, Wholefoods. Please download for free and use this data openly. <a
                                    href="https://drive.google.com/a/geolytix.co.uk/file/d/0B1GCK8cPXzg-ZUl6MDFUUkFBVEU"
                                    target="_blank"><i class="icon-file-pdf"></i></a>
                            <a href="https://drive.google.com/file/d/0B5UPsNN3XERXaXVNZTZNMzVOVWM/view" target="_blank"><i
                                        class="icon-download"></i></a>
                        <div class="tooltip">Download a zip archive containing the latest version of our Open Retail Points data pack.
                        </div>
                        </p>
                    </div>
                    <div class="info retail_places">
                        <p>More than 20k scored, profiled and named polygons detailing where people shop in the UK, and catchment area demographics. Ideal for locating new sites and understanding micro location performance. <a href="https://drive.google.com/file/d/0B1GCK8cPXzg-OW94MVlkdm5lNUk"
                                            target="_blank"><i class="icon-file-pdf"></i></a>
                            <a href="https://drive.google.com/file/d/0B1GCK8cPXzg-OWE4Q3Nrdzk3d2M/view" target="_blank"><i
                                        class="icon-download"></i></a>
                        <div class="tooltip">Download a sub-set of four hundred centres; scored, profiled and named polygons detailing where people shop in the UK. Note that the Open version requires attribution of the Ordnance Survey, Royal Mail, and GEOLYTIX.
                        </div>
                        </p>
                    </div>
                    <div class="info seamless_locales">
                        <p>100% Seamless UK definitions of natural markets at 4 levels, local, towns, district and region. Close match to true ‘markets’ at multiple scales. <a
                                    href="https://drive.google.com/file/d/0B1GCK8cPXzg-TGdzNzA4VUY4TGs/view"
                                    target="_blank"><i class="icon-file-pdf"></i></a></p>
                    </div>
                    <div class="info town_suburbs">
                        <p>A precise and intuitive set of 30,000 named ‘places’ across the UK richly attributed with data. Ideal base for UK wide profiling and benchmarking. <a
                                    href="https://drive.google.com/file/d/0B1GCK8cPXzg-bDhiZkY2a2VmQk0/view"
                                    target="_blank"><i class="icon-file-pdf"></i></a></p>
                    </div>
                    <div class="info postal_geom">
                        <p>High resolution postal boundaries combining exceptional ‘enclosure’ accuracy with boundaries that follow real-world features. <a
                                    href="https://drive.google.com/file/d/0B1GCK8cPXzg-Nk5nZ2c0S2JUOTg/view"
                                    target="_blank"><i class="icon-file-pdf"></i></a>
                            <a href="https://drive.google.com/file/d/0B5UPsNN3XERXZi00WE5aZTBXV0E/view" target="_blank"><i
                                        class="icon-download"></i></a>
                        <div class="tooltip">Download a zip archive containing 9,232 geographic postal sector boundaries covering Great Britain as of October 2012. Released under the same terms as the OS OpenData license with the single addition of GEOLYTIX to the attribution list.
                        </div>
                        </p>
                    </div>
                    <div class="info public_transport">
                        <p>Precise access points to all public transport including detailed volume data. Perfect for accessibility studies and modelling on-street pedestrian volume. <a
                                    href="https://drive.google.com/file/d/0B1GCK8cPXzg-Q3MwM2pvS1FlNHM/view"
                                    target="_blank"><i class="icon-file-pdf"></i></a></p>
                    </div>
                    <div class="info road_network">
                        <p>Routable Link/Node data with link-level mid-afternoon speeds based on Highways agency probe data and sophisticated speed model; painlessly integrates into multiple routing software tools. <a
                                    href="https://drive.google.com/file/d/0B1GCK8cPXzg-bVlZRnBiMEFxbms/view"
                                    target="_blank"><i class="icon-file-pdf"></i></a></p>
                    </div>
                    <div class="info uk_admin">
                        <p>All UK’s administrative boundaries in a consistent package. Includes all police, health, fire, EU zones, regions, constituencies, wards and statistical geographies. The core framework which all national statistics are published within. <a
                                    href="https://drive.google.com/open?id=0B1GCK8cPXzg-M0RzdXAwUUo2YkE"
                                    target="_blank"><i class="icon-file-pdf"></i></a>
                            <a href="https://drive.google.com/a/geolytix.co.uk/file/d/0B1GCK8cPXzg-QlBsUS1TaWhTU0k/view" target="_blank"><i
                                        class="icon-download"></i></a>
                        <div class="tooltip">Download a collection of 197 variables as Output Area (OA) level. English, Welsh, Scottish and Northern Irish Census data processed into a single easy-to-use flat file. We have released free-of-charge and under the same license terms as the census.
                        </div>
                        </p>
                    </div>
                    <div class="info education">
                        <p>All University buildings & entrances digitised and attributed, with student counts. All primary and secondary schools both private and state. Includes school roll data, exam results and pupil demographics. Includes official codes for onward linking. <a
                                    href="https://drive.google.com/file/d/0B1GCK8cPXzg-ZF9NbjZ6WXVxQUE/view"
                                    target="_blank"><i class="icon-file-pdf"></i></a></p>
                    </div>
                    <div class="info poi">
                        <p>A collection of points of interest across the UK including healthcare locations, law and order sites along with sport & leisure facilities, car parks, cinemas and service areas. <a
                                    href="https://drive.google.com/file/d/0B1GCK8cPXzg-V1F1ZEFTX0xuRG8/view"
                                    target="_blank"><i class="icon-file-pdf"></i></a></p>
                    </div>
                </div>

                <div class="content faq">
                    <table>
                        <tbody>
                        <tr>
                            <td class="title">IS THE DATA I PURCHASE LICENSED?</td>
                            <td class="title">CAN I PUBLISH THE DATA?</td>
                        </tr>
                        <tr>
                            <td>Yes, our aim is to keep licensing simple and transparent. All prices shown are for an annual right to use. This includes full corporate use with no restrictions on user numbers.
                            </td>
                            <td>The prices shown are for internal business use only. If you would like to use the data in a website or in a commercial product we’d be delighted to discuss options so please get in touch.
                            </td>
                        </tr>
                        <tr>
                            <td class="title">WHAT SOFTWARE CAN THE DATA BE USED IN?</td>
                            <td class="title">I CAN’T TELL IF THE DATA IS WHAT I NEED?</td>
                        </tr>
                        <tr>
                            <td>We provide our data in all formats commonly used by desktop GIS, spatial databases and web mapping applications. We’re more than happy to discuss, whatever your software requirements are.
                            </td>
                            <td>Then please get in touch. We’d be delighted to pay a visit and take you through the data with examples of the benefits and how it can be used.
                            </td>
                        </tr>
                        <tr>
                            <td class="title">HOW OFTEN IS THE DATA UPDATED?</td>
                            <td class="title">I’M INTERESTED, HOW DO I BUY?</td>
                        </tr>
                        <tr>
                            <td>Every pack is updated at least annually, with some packs updated every quarter. Ask for more details.
                            </td>
                            <td>Please get in touch, we can send you the data asap and provide payment details.</td>
                        </tr>
                        <tr>
                            <td class="title">CAN I SEE A USER GUIDE / DOCUMENTATION?</td>
                            <td class="title">HOW DOES THE DATA ARRIVE?</td>
                        </tr>
                        <tr>
                            <td>Yes of course, please get in touch and we will send the same day.</td>
                            <td>We can send a link to download, memory stick or DVD.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="content pricing">
                    <div class="title">These are the most popular plans for full corporate use with no restrictions on user number or user cases.
                    </div>
                    <div class="price_box img__contain three"></div>
                    <div class="price_box img__contain six"></div>
                    <div class="price_box img__contain all"></div>
                </div>

            </div>

        </div>


        <div class="spacer" id="spacer_blog">
            <div class="link__intro">Would you like to see more?</div>
            <div class="link__text"><a href="http://blog.geolytix.net">Please visit our blog.</a></div>
        </div>


        <div class="section" id="section_team">
            <p class="title">Team</p>
            <p class="intro">We have over 50 years experience in the geospatial industry, both as consultants and as customers at some of the largest retailers. We understand the likely challenges you will face.</p>

            <ul class="ul_grid">
                <li>
                    <div class="li_card blair cursor">
                        <div class="li_card__img img__contain"></div>
                        <div class="li_card__title">
                            <span>Blair Freebairn</span><br>
                            <span>Chief Executive</span>
                        </div>
                    </div>
                    <div class="li_expander">
                        <div class="li_card__content">
                    <span>Blair has built gravity models for 10 of the 15 largest retailers the last 20 years. Previously head of analytics at MapInfo UK, in September 2011 he took the plunge, and set up his own business focused on helping businesses solve problems where location matters – GEOLYTIX was born.
                    <a href="https://uk.linkedin.com/in/blair-freebairn-4176ab11" target="_blank"><i
                                class="icon-linkedin-squared"></i></a></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_card sarah cursor">
                        <div class="li_card__img img__contain"></div>
                        <div class="li_card__title">
                            <span>Sarah Hitchcock</span><br>
                            <span>Chief Operating Officer</span>
                        </div>
                    </div>
                    <div class="li_expander">
                        <div class="li_card__content">
                    <span>Sarah started her career at Boots working on ground-breaking customer analysis following the launch of Advantage Card. Prior to GEOLYTIX, Sarah led the Network Planning team at Sainsbury's during an exciting period when space growth and her team's ambitious strategy was a key driver of Sainsbury's success.
                    <a href="https://www.linkedin.com/in/sarah-hitchcock-808390b" target="_blank"><i
                                class="icon-linkedin-squared"></i></a></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_card neil cursor">
                        <div class="li_card__img img__contain"></div>
                        <div class="li_card__title">
                            <span>Neil Farricker</span><br>
                            <span>Director of Data Science</span>
                        </div>
                    </div>
                    <div class="li_expander">
                        <div class="li_card__content">
                    <span>Neil has built models for retailers, banking & insurers over the last 8 years - 2 years at GEOLYTIX and previously at Pitney Bowes Mapinfo. He started out at the Co-op where he spent 5 years overhauling their modelling and processes.
                    <a href="https://www.linkedin.com/in/neil-farricker-6566a338" target="_blank"><i
                                class="icon-linkedin-squared"></i></a></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_card samantha cursor">
                        <div class="li_card__img img__contain"></div>
                        <div class="li_card__title">
                            <span>Samantha Colebatch</span><br>
                            <span>Commercial Director</span>
                        </div>
                    </div>
                    <div class="li_expander">
                        <div class="li_card__content">
                    <span>For 15 years Samantha has shaped the new space expansion of major retailers in the UK and Australia. After supporting Coles Myer through major multi-format new space development Samantha moved to Sainsbury’s and led their strategy for network expansion. As the industry looked for other avenues of growth Samantha took a lead role in transforming Sainsbury’s non-food operation.
                    <a href="https://www.linkedin.com/in/samantha-colebatch-hodkinson-09a30564" target="_blank"><i
                                class="icon-linkedin-squared"></i></a></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_card simon cursor">
                        <div class="li_card__img img__contain"></div>
                        <div class="li_card__title">
                            <span>Simon Dixon</span><br>
                            <span>Technical Director</span>
                        </div>
                    </div>
                    <div class="li_expander">
                        <div class="li_card__content">
                    <span>Simon has delivered GIS based solutions and customer friendly user interfaces for many FTSE 100 retailers, local authorities, police forces and transport consultants. Previously worked as Technical Manager at Sainsbury's, supporting Network Planning, providing others with the tools and information they need to do their jobs.
                    <a href="https://www.linkedin.com/in/simon-dixon-2b261761" target="_blank"><i
                                class="icon-linkedin-squared"></i></a></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_card louise cursor">
                        <div class="li_card__img img__contain"></div>
                        <div class="li_card__title">
                            <span>Louise Cross</span><br>
                            <span>Data Scientist</span>
                        </div>
                    </div>
                    <div class="li_expander">
                        <div class="li_card__content">
                    <span>Louise is a geographer specialising in GIS and has a passion for Open Data. Her first role at GEOLYTIX was supporting a major UK retailer with an overhaul of their site forecasting systems, data and methodology. Lou manages our GeoData range, creating innovative new data products.
                    <a href="https://www.linkedin.com/in/louise-cross-7b70916b" target="_blank"><i
                                class="icon-linkedin-squared"></i></a>
                    <a href="https://twitter.com/WheresLou" target="_blank"><i
                                class="icon-twitter-squared"></i></a></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_card christoph cursor">
                        <div class="li_card__img img__contain"></div>
                        <div class="li_card__title">
                            <span>Christoph Mülligann</span><br>
                            <span>Data Scientist</span>
                        </div>
                    </div>
                    <div class="li_expander">
                        <div class="li_card__content">
                    <span>Christoph has an education in Geoinformatics from the University of Munster, Germany. Having worked at on-geo in Dortmund creating a flagship website for property valuation, he is an expert in programming for the web. At GEOLYTIX Christoph writes code that crunches big data sets for our spatial models and GeoData range.
                    <a href="https://www.linkedin.com/in/christoph-mülligann-a8a76194" target="_blank"><i
                                class="icon-linkedin-squared"></i></a></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_card jasmin cursor">
                        <div class="li_card__img img__contain"></div>
                        <div class="li_card__title">
                            <span>Jasmin Fitzpatrick</span><br>
                            <span>Associate</span>
                        </div>
                    </div>
                    <div class="li_expander">
                        <div class="li_card__content">
                    <span>Jasmin, a geographer from Leeds University joins us from Colliers International UK where she managed the GIS and mapping function, delivering spatial solutions to help a wide range of clients with strategic network decisions. Jasmin will help to support our customers and deliver projects.
                    <a href="https://www.linkedin.com/in/jasminfitzpatrick" target="_blank"><i
                                class="icon-linkedin-squared"></i></a></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="li_card dennis cursor">
                        <div class="li_card__img img__contain"></div>
                        <div class="li_card__title">
                            <span>Dennis Bauszus</span><br>
                            <span>Web Solutions Engineer</span>
                        </div>
                    </div>
                    <div class="li_expander">
                        <div class="li_card__content">
                    <span>Dennis has previously worked as a project manager for Cadcorp and joins GEOLYTIX as a web developer from Argeomatica in Mexico City. His 20 years of professional experience in the spatial information sector have seen many transitions; From field work and paper maps to digital, from desktop to cloud, and most recently from proprietary to open source technologies.
                    <a href="https://www.linkedin.com/in/dennis-bauszus-45b55760" target="_blank"><i
                                class="icon-linkedin-squared"></i></a>
                    <a href="http://stackexchange.com/users/2521477/dennis-bauszus?tab=accounts" target="_blank"><i
                                class="icon-stackexchange"></i></a>
                    <a href="https://github.com/dbauszus" target="_blank"><i class="icon-github"></i></a>
                    <a href="http://dbauszus.xyz/" target="_blank"><i class="icon-wordpress"></i></a></span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>


        <div class="section" id="section_awards">

            <div class="strip">
                <a class="img__contain"
                   href="http://blog.geolytix.net/2016/07/01/data-analytics-firm-geolytix-win-queens-award-for-enterprise"
                   target="_blank"></a>
                <a class="img__contain"
                   href="https://theodi.org/news/first-odi-open-data-awards-presented-by-sir-tim-berners-lee-and-sir-nigel-shadbolt"
                   target="_blank"></a>
                <a class="img__contain" href="http://businessawardslondon.co.uk" target="_blank"></a>
            </div>

            <div class="strip">
                <a class="img__contain"></a>
                <a class="img__contain"
                   href="http://www.nationalbusinessawards.co.uk/Content/2015-Winners-of-the-National-Business-Awards-2014/4_10"
                   target="_blank"></a>
                <a class="img__contain" href="http://www.thesla.org/previous-winners" target="_blank"></a>
                <a class="img__contain"></a>
            </div>

        </div>


        <div class="section" id="section_contact">
            <p class="title">Contact</p>

            <div class="container">
                <div id="map_contact"></div>
            </div>

        </div>


        <div id="footer__menu">

            <ul class="ul_grid">
                <li>
                    <div class="li_card">
                        <p class="social_media__icons">
                            <a href="https://www.linkedin.com/company/geolytix" target="_blank"><i
                                        class="icon-linkedin-squared"></i></a>
                            <a href="http://twitter.com/geolytix" target="_blank"><i
                                        class="icon-twitter-squared"></i></a>
                            <a href="http://stackoverflow.com/jobs/companies/geolytix" target="_blank"><i
                                        class="icon-stackoverflow"></i></a>
                        </p>
                        <a class="privacy_policy" target="_blank"
                           href="https://docs.google.com/document/d/1ZyhEzxi0MCsMK3HnR6fGpBhNm725916AxmElkOsHFIY">Privacy
                            Policy</a>
                        <a class="terms_conditions" target="_blank"
                           href="https://docs.google.com/document/d/1MteGDtrZx2TWXcuKqTzEMPRGmtlvEzF0g9Vy9r5H_vs">Terms
                            & Conditions</a>
                    </div>
                </li>
                <li>
                    <div class="li_card">
                        <p x-ms-format-detection="none">+44 20 82 42 41 66</p>
                        <p><a href="mailto:info@geolytix.co.uk">info@geolytix.co.uk</a></p>
                        <p>Phoenix Yard</p>
                        <p>65 Kings Cross Road</p>
                        <p>London WC1X 9LW</p>
                    </div>
                </li>
                <li>
                    <div class="li_card">
                        <a href="http://theodi.org/" target="_blank">
                            <img src="/public/images/logo_odi_supporter.png"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="li_card">
                        <p>© 2016 GEOLYTIX Ltd.</p>
                        <p>All rights reserved</p>
                    </div>
                </li>
            </ul>

        </div>


    </div>
</div>

</body>

<script src="/public/js/leaflet.js"></script>
<script src="/public/js/leaflet.NonTiledLayer.js"></script>
<script src="/public/js/leaflet.NonTiledLayer.WMS.js"></script>
<script src="/public/js/geolytix.js"></script>

</html>