<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="TvAneS2dL4WOh12_xFUZX7n31PzsLImYhS3cvfwcVMg" />

    <title>GEOLYTIX</title>
    <meta name="description" content="Experts in providing data and services for location, demographic, customer and market analysis for retailers and investors in the UK, Europe and America." />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
        if (window.innerWidth > 799) {
            window.location = "/";
        }
    </script>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/jquery.mobile.js"></script>
    <script src="/public/js/debounce.js"></script>
    <script src="/public/js/webfontloader.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-82852467-1', 'auto');
        ga('send', 'pageview');

        WebFont.load({
            custom: {
                families: ['ffmark_black','ffmark_thin','ffmark','ffmark_bold','ffmark_italic'],
                urls: ['/public/css/fontello_embedded.css']
            }
        });
    </script>
    <link rel="stylesheet" href="/public/css/geolytix.m.css"/>
</head>

<body>

<div class="inner">

<div class="header__menu">
    <div class="home cursor">GEOLYTIX</div>
</div>
<div class="section img__cover" id="section_intro">
    <img src="" class="img__preload"/>
    <span class="intro_text"></span>
</div>



<div class="section" id="section_services">
    <p class="title">Services</p>
    <p class="intro">The world is not short of data or software. GEOLYTIX turns data and code into something that helps your organisation make better decisions.</p>

    <div class="scroll__x">

        <table>
            <tbody>
                <tr>
                    <td class="img__contain network_strategy"></td>
                    <td class="img__contain location_planning"></td>
                    <td class="img__contain omnichannel_retailing"></td>
                    <td class="img__contain spatial_targeting"></td>
                </tr>
                <tr>
                    <td>Network Strategy</td>
                    <td>Location Planning</td>
                    <td>Omnichannel Retailing</td>
                    <td>Spatial Targeting</td>
                </tr>
                <tr>
                    <td>Since the day GEOLYTIX came into being, we have been telling our customers where to go. For
                        example how many stores, who to acquire, where to open stores, what to sell in them and how to
                        optimise home delivery and click & collect operations. We build close, on-going relationships
                        with our customers and will become your trusted advisors.</td>
                    <td>Our partners have all worked as Location Planners for major retailers. Over the years we have had
                        experience in building models which solve key spatial business problems across the retail,
                        banking, insurance and property industries. Whether you need to understand how much a new store
                        will take, sales cannibalisation or how to optimise delivery routes to reduce road miles we can
                        help.</td>
                    <td>GEOLYTIX believe many businesses are missing a trick by not better combining their demographic,
                        spatial and customer data. Whether it’s loyalty card, online or mobile data we would love the
                        opportunity to help you drive out more insight and get the right mix of Bricks and Clicks.
                        Omni-channel retailing is resulting in more knowledgeable customers and it’s vital you
                        understand them.</td>
                    <td>Spatial is different and so needs it's own toolbox. GEOLYTIX understand when a simple scorecard
                        will suffice, or when a business will benefit from a customised gravity model. We’ll help you
                        make the right decision, dependent on your industry and accuracy objectives. And we understand
                        businesses don’t just need a model. GEOLYTIX will work with you to create a framework that will
                        improve your processes & management reporting.</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>



<div class="section" id="section_clients">
    <p class="title">Case Studies</p>
    <p class="intro">The best way to understand what we do is to read about how we’ve been helping our customers.</p>

    <div class="container scroll__x">

        <div class="scroll__container">

            <div class="logo img__contain johnlewis active">
            </div><div class="logo img__contain camelot">
            </div><div class="logo img__contain onthemarket">
            </div><div class="logo img__contain boots">
            </div><div class="logo img__contain totalfitness">
            </div><div class="logo img__contain asda">
            </div>

        </div>

    </div>

    <div class="container scroll__x">

        <div class="scroll__container">

            <div class="card johnlewis">
                <p class="title">John Lewis</p>
                <p>The objective was to improve the efficiency of the Catchment Strategy Review Process.</p>
            </div><div class="card johnlewis">
                <p class="title">Strategy</p>
                <ul>
                    <li>Our job was to focus on the process, rather than the modelling which John Lewis carry out in-house.</li>
                    <li>Automate all steps in the process – as few clicks as possible.</li>
                    <li>Include geodata to improve the system.</li>
                    <li>Allow multiple strategic scenarios to be carried out more quickly, including the addition of click and collect locations.</li>
                </ul>
            </div><div class="card johnlewis">
                <p class="title">Results</p>
                <p class="quote">"The GEOLYTIX team were able to provide a bespoke solution that worked for us, rather than an off-the-shelf product. Simon went the extra mile and worked closely with us resulting in a significant improvement in efficiency, allowing multiple multi-channel strategy scenarios to be reviewed"</p>
                <p>Michael Flood, Strategic Customer Analysis Manager</p>
            </div>

            <div class="card camelot">
                <p class="title">Camelot</p>
                <p>The objective was to predict future revenue potential from new lottery terminals, marketing activity and product innovations.</p>
            </div><div class="card camelot">
                <p class="title">Strategy</p>
                <ul>
                    <li>Understanding the behaviour of existing customers to build a model to predict the future.</li>
                    <li>Understand the effect of demographics and channel at a detailed level.</li>
                    <li>Develop on a platform that will provide in field analytics and mobile data capture, in order to futureproof processes and accuracy.</li>
                </ul>
            </div><div class="card camelot">
                <p class="title">Results</p>
                <p class="quote">"GEOLYTIX have transformed our location planning capability and have been fundamental in supporting our goal of unlocking opportunities for growth, optimising our ever changing retail network and further influencing channel strategies. They have absolutely enabled us to make better decisions where location matters."</p>
                <p>Paul Clarke, Retail Planning Manager</p>
            </div>

            <div class="card onthemarket">
                <p class="title">On The Market</p>
                <p>The objective was to support On The Market to deliver a web search tool that provides the right properties to view.</p>
            </div><div class="card onthemarket">
                <p class="title">Strategy</p>
                <ul>
                    <li>Provide town and suburb boundaries that reflect where people want to live.</li>
                    <li>Support in creating a search hierarchy that covers all options for users.</li>
                    <li>Provide an accurate Point of Interest dataset to describe the provision in an area e.g. schools, public transport, supermarkets.</li>
                </ul>
            </div><div class="card onthemarket">
                <p class="title">Results</p>
                <p class="quote">"The GEOLYTIX team worked with us to understand our needs and provide accurate data that successfully reflects the areas where people want to search for property. Furthermore they supported our technical team with valuable advice, supporting us in delivering to tight timescales"</p>
                <p>Morgan Ross, IT Director</p>
            </div>

            <div class="card boots">
                <p class="title">Boots</p>
                <p>The objective was to improve store forecasting accuracy and understand further sales potential across the UK.</p>
            </div><div class="card boots">
                <p class="title">Strategy</p>
                <ul>
                    <li>Understanding how demographics drive customer spend.</li>
                    <li>Develop a store forecasting model – taking into account other Boots stores and the retail landscape.</li>
                    <li>On site for 6 months building with the analytical team.</li>
                    <li>In-depth review of recent openings.</li>
                </ul>
            </div><div class="card boots">
                <p class="title">Results</p>
                <p class="quote">"What we experienced surpassed our high expectations. Rather than trying to shoe-horn a pre-existing model to fit our requirements, GEOLYTIX worked with us to really understand our markets, shops, and customers until we all felt that the best solution had been reached. They have proved to be an excellent partner to us as we extend our portfolio planning capability."</p>
                <p>Simon Prinn, Senior Retail Analytics Manager</p>
            </div>

            <div class="card totalfitness">
                <p class="title">Total Fitness</p>
                <p>The objective was to understand the size of the opportunity for new gym locations for Total Fitness.</p>
            </div><div class="card totalfitness">
                <p class="title">Strategy</p>
                <ul>
                    <li>Determining the best locations for the next Total Fitness gyms.</li>
                    <li>Understand the true customer profiles and catchments for specific location types.</li>
                    <li>Understand the size of the opportunity and how this affects market share and access to potential customers.</li>
                </ul>
            </div><div class="card totalfitness">
                <p class="title">Results</p>
                <p class="quote">"The work by GEOLYTIX quickly allowed us to understand the potential for increasing our market share and how we could best achieve this. They have given us the insight to support our strategic decision making in order to push our business forward."</p>
                <p>Richard Millman, CEO</p>
            </div>

            <div class="card asda">
                <p class="title">Asda</p>
                <p>The objective was a complete overhaul of new store forecasting processes and new space strategy.</p>
            </div><div class="card asda">
                <p class="title">Strategy</p>
                <ul>
                    <li>Business Requirements & IT Systems Design Review.</li>
                    <li>Forecasting Models Development– User front end to drive efficiency.</li>
                    <li>Team coaching and mentoring.</li>
                </ul>
            </div><div class="card asda">
                <p class="title">Results</p>
                <p class="quote">“The data & modelling will drive an increase in our forecasting accuracy, bespoke software development makes us more efficient. Just as importantly, GEOLYTIX have mentored and up-skilled the team. The work we have done with GEOLYTIX has shaped our strategy and enabled us to reach a space growth plan we are confident about. GEOLYTIX are helping us to invest wisely.”</p>
                <p>David Dodd, Market Strategy Manager</p>
            </div>

        </div>

    </div>

</div>



<div class="spacer" id="spacer_clients">
    <div class="link__intro">We would like to talk to you.</div>
    <div class="link__text scroll__contact">Contact</div>
</div>



<div class="section" id="section_geodata">
    <p class="title">Geodata</p>
    <p class="intro">Where people live, work and shop; retail ranks and pitch, town boundaries, postal sectors, demographics, university boundaries. We create novel datasets using Open Data as inputs, to help with your network strategy and location based decisions.</p>

    <div class="container scroll__x">

        <div class="scroll__container">

            <div class="card retail_points">
                <div class="title">Retail Points</div>
                <div class="img img__cover">
                    <a href="/map?retail_points" target="_blank"><i
                            class="icon-export-alt"></i></a>
                </div>
                <div class="info">Over 10,000 supermarket roof-top locations and addresses. Retailers include Aldi, Asda, Booths,
                    Budgens, Co-op, Costco, Lidl, Marks and Spencer, Morrisons, Sainsbury’s, Tesco, Waitrose,
                    Wholefoods.</div>
            </div><div class="card retail_places">
                <div class="title">Retail Places</div>
                <div class="img img__cover">
                    <a href="/map?retail_places" target="_blank"><i
                            class="icon-export-alt"></i></a>
                </div>
                <div class="info">More than 20k scored, profiled and named polygons detailing where people shop in the UK, and
                    catchment area demographics. Ideal for locating new sites and understanding micro location
                    performance.</div>
            </div><div class="card seamless_locales">
                <div class="title">Seamless Locales</div>
                <div class="img img__cover">
                    <a href="/map?seamless_locales" target="_blank"><i
                            class="icon-export-alt"></i></a>
                </div>
                <div class="info">100% Seamless UK definitions of natural markets at 4 levels, local, towns, district and region. Close
                    match to true ‘markets’ at multiple scales.</div>
            </div><div class="card town_suburbs">
                <div class="title">Town and Suburb</div>
                <div class="img img__cover">
                    <a href="/map?town_suburbs" target="_blank"><i
                            class="icon-export-alt"></i></a>
                </div>
                <div class="info">A precise and intuitive set of 30,000 named ‘places’ across the UK richly attributed with data. Ideal
                    base for UK wide profiling and benchmarking.</div>
            </div><div class="card postal_geom">
                <div class="title">Postal Geometries</div>
                <div class="img img__cover">
                    <a href="/map?postal_geom" target="_blank"><i
                            class="icon-export-alt"></i></a>
                </div>
                <div class="info">High resolution postal boundaries combining exceptional ‘enclosure’ accuracy with boundaries that
                    follow real-world features.</div>
            </div><div class="card public_transport">
                <div class="title">Public Transport</div>
                <div class="img img__cover">
                    <a href="/map?public_transport" target="_blank"><i
                            class="icon-export-alt"></i></a>
                </div>
                <div class="info">Precise access points to all public transport including detailed volume data. Perfect for
                    accessibility studies and modelling on-street pedestrian volume.</div>
            </div><div class="card road_network">
                <div class="title">Road Network</div>
                <div class="img img__cover">
                    <a href="/map?road_network" target="_blank"><i
                            class="icon-export-alt"></i></a>
                </div>
                <div class="info">Routable Link/Node data with link-level mid-afternoon speeds based on Highways agency probe data and
                    sophisticated speed model; painlessly integrates into multiple routing software tools.</div>
            </div><div class="card uk_admin">
                <div class="title">UK Admin</div>
                <div class="img img__cover">
                    <a href="/map?uk_admin" target="_blank"><i
                            class="icon-export-alt"></i></a>
                </div>
                <div class="info">All UK’s administrative boundaries in a consistent package. Includes all police, health, fire, EU
                    zones, regions, constituencies, wards and statistical geographies. The core framework which all
                    national statistics are published within.</div>
            </div><div class="card education">
                <div class="title">Education</div>
                <div class="img img__cover">
                    <a href="/map?education" target="_blank"><i
                            class="icon-export-alt"></i></a>
                </div>
                <div class="info">All University buildings & entrances digitised and attributed, with student counts. All primary and
                    secondary schools both private and state. Includes school roll data, exam results and pupil
                    demographics. Includes official codes for onward linking.</div>
            </div><div class="card poi">
                <div class="title">Points of Interest</div>
                <div class="img img__cover">
                    <a href="/map?poi" target="_blank"><i
                            class="icon-export-alt"></i></a>
                </div>
                <div class="info">All housing transactions since 1995 including address, value and classifications. A continually
                    growing source of local area insight. Plus all 500K listed properties across the UK.</div>
            </div>

        </div>

    </div>

</div>


<div class="spacer" id="spacer_geodata">
    <div class="link__intro">Would you like to know more?</div>
    <div class="link__text scroll__contact">Please speak to our data experts.</div>
</div>



<div class="section" id="section_blog">
    <p class="title">Blog</p>

    <div class="container scroll__x">

        <div class="scroll__container">

            <a class="card first" target="_blank" href="http://blog.geolytix.net/2016/07/01/data-analytics-firm-geolytix-win-queens-award-for-enterprise">

                <div class="img__blog img__contain" id="img_blog_1"></div>
                <div class="content">

                    <p class="title">Data Analytics firm Geolytix win Queen’s Award for Enterprise.</p>
                    <br>
                    <p>London-based Geolytix have today won a Queen’s Award for Enterprise for creating innovative spatial
                        algorithms that help retailers profitably attract and serve customers in a complex multi-channel
                        world.</p>
                    <br>
                    <p>Despite the massive shift to online, physical stores (for now at least) remain the bedrock of commerce.
                        Where to open shops, and how their location and layout support the needs of both in-store and digital
                        customers, are questions that the world’s largest retailers are now tackling from a brand new
                        perspective.</p>
                    <br>
                    <p>Geolytix work with over 20 of the UK’s largest, most forward-thinking, retailers. We help them wisely
                        invest billions of pounds a year in real estate and technology. We use vast amounts of open data, and
                        our customer’s proprietary data. These data are used by Geolytix data scientists to create novel
                        algorithms that help businesses understand how and where consumers choose to shop in-store and
                        digitally. Our customers apply these algorithms to hypothetical futures involving new locations,
                        evolving customer demands and structural market changes. These predictions can then be used to direct
                        the huge capital investments required to develop new stores, new channels and new integrations of the
                        physical and digital shopping experience.</p>
                    <br>

                </div>

            </a>
            <a class="card second" target="_blank" href="http://blog.geolytix.net/2015/12/11/are-you-our-next-senior-data-scientist">

                <div class="img__blog img__contain" id="img_blog_2"></div>
                <div class="content">

                    <p class="title">Are you our next Senior Location Analyst?</p>
                    <br>
                    <p>You’ll be working with the thought leaders in spatial analysis. We seek new and innovate ways
                        to make spatial analytics accessible, thrilling and indispensable. Our customers span the
                        retail, financial, property, leisure and food &amp; beverage industries, in and outside the UK. We
                        support our customers in network planning, site location, estate rationalisation and omni-channel
                        investments.<br>
                        We combine various forecasting methods and statistical models, GIS and web tools to create bespoke
                        solutions. We are always looking to do things better and we look forward to what we can learn
                        from you. You’ll also have the opportunity to build on any skills you haven’t managed to
                        learn.</p>
                    <br>
                    <p class="title">About You</p>
                    <ul>
                        <li>You are able to interact comfortably with our customers, interpreting their needs and engaging
                            senior management.
                        </li>
                        <li>You can create succinct and convincing reports and presentations.</li>
                        <li>You have excellent analytical skills and can integrate and interpret quantitative and
                            qualitative data to produce practical and commercially relevant outputs.
                        </li>
                        <li>You know your way around a GIS and understand a variety of forecasting techniques.</li>
                        <li>You want to be original – you don’t want to do the same old, same old. You’re consistently
                            looking for innovation.
                        </li>
                        <li>You enjoy the world of retail, and have a good grasp of UK geography.</li>
                    </ul>

                </div>

            </a>
            <a class="card third" target="_blank" href="http://blog.geolytix.net/2016/04/05/open-supermarkets-now-known-retail-points-version-7">

                <div class="img__blog img__contain" id="img_blog_3"></div>
                <div class="content">

                    <p>Today sees the release of the latest instalment of Open Supermarkets, we have now renamed this Retail Points.</p>
                    <br>
                    <p>There have been changes in the UK supermarket world since the last release with the most notable one being:</p>
                    <img src="/public/images/blog/mylocal_logo.jpg"/>
                    <p>Morrisons selling their M Locals to Mike Green which have now been rebranded My Local.</p>
                    <img src="/public/images/blog/mylocal_map.jpg"/>
                    <p>Along with the incorporation of openings and closings across the retailers over a few months we have also expanded our freezer store fascias. After Iceland’s were included in the September release we have now included Farmfoods, Fulton Foods and Heron. The retailers and their store count within the dataset can be soon below:</p>

                </div>

            </a>

        </div>

    </div>

</div>



<div class="spacer" id="spacer_blog">
    <div class="link__intro">Would you like to read more?</div>
    <div class="link__text"><a href="http://geolytix.blogspot.co.uk/"  target="_blank">Please visit our blog.</a></div>
</div>



<div class="section" id="section_team">
    <p class="title">Team</p>
    <p class="intro">We have over 50 years experience in the geospatial industry, both as consultants and as customers at some of the largest retailers. We understand the likely challenges you will face.</p>

    <div class="scroll__x">

        <table>
            <tbody>
                <tr>
                    <td><div class="img__contain blair"></div></td>
                    <td><div class="img__contain sarah"></div></td>
                    <td><div class="img__contain neil"></div></td>
                    <td><div class="img__contain samantha"></div></td>
                    <td><div class="img__contain simon"></div></td>
                    <td><div class="img__contain louise"></div></td>
                    <td><div class="img__contain christoph"></div></td>
                    <td><div class="img__contain jasmin"></div></td>
                    <td><div class="img__contain dennis"></div></td>
                </tr>
                <tr>
                    <td>Blair Freebairn</td>
                    <td>Sarah Hitchcock</td>
                    <td>Neil Farricker</td>
                    <td>Samantha Colebatch</td>
                    <td>Simon Dixon</td>
                    <td>Louise Cross</td>
                    <td>Christoph Mülligann</td>
                    <td>Jasmin Fitzpatrick</td>
                    <td>Dennis Bauszus</td>
                </tr>
                <tr>
                    <td>Chief Executive</td>
                    <td>Chief Operating Officer</td>
                    <td>Director of Data Science</td>
                    <td>Commercial Director</td>
                    <td>Technical Director</td>
                    <td>Data Scientist</td>
                    <td>Data Scientist</td>
                    <td>Associate</td>
                    <td>Web Solutions Engineer</td>
                </tr>
                <tr>
                    <td>Blair has built gravity models for 10 of the 15 largest retailers the last 20 years. Previously
                        head of analytics at MapInfo UK, in September 2011 he took the plunge, and set up his own
                        business focused on helping businesses solve problems where location matters – GEOLYTIX was
                        born.<br><br>
                        <a href="https://uk.linkedin.com/in/blair-freebairn-4176ab11" target="_blank"><i
                                class="icon-linkedin-squared"></i></a></td>
                    <td>Sarah started her career at Boots working on ground-breaking customer analysis following the
                        launch of Advantage Card. Prior to GEOLYTIX, Sarah led the Network Planning team at Sainsbury's
                        during an exciting period when space growth and her team's ambitious strategy was a key driver
                        of Sainsbury's success.<br><br>
                        <a href="https://www.linkedin.com/in/sarah-hitchcock-808390b" target="_blank"><i
                                class="icon-linkedin-squared"></i></a></td>
                    <td>Neil has built models for retailers, banking & insurers over the last 8 years - 2 years at
                        GEOLYTIX and previously at Pitney Bowes Mapinfo. He started out at the Co-op where he spent 5
                        years overhauling their modelling and processes.<br><br>
                        <a href="https://www.linkedin.com/in/neil-farricker-6566a338" target="_blank"><i
                                class="icon-linkedin-squared"></i></a></td>
                    <td>For 15 years Samantha has shaped the new space expansion of major retailers in the UK and
                        Australia. After supporting Coles Myer through major multi-format new space development Samantha
                        moved to Sainsbury’s and led their strategy for network expansion. As the industry looked for
                        other avenues of growth Samantha took a lead role in transforming Sainsbury’s non-food
                        operation.<br><br>
                        <a href="https://www.linkedin.com/in/samantha-colebatch-hodkinson-09a30564" target="_blank"><i
                                class="icon-linkedin-squared"></i></a></td>
                    <td>Simon has delivered GIS based solutions and customer friendly user interfaces for many FTSE 100
                        retailers, local authorities, police forces and transport consultants. Previously worked as
                        Technical Manager at Sainsbury's, supporting Network Planning, providing others with the tools
                        and information they need to do their jobs.<br><br>
                        <a href="https://www.linkedin.com/in/simon-dixon-2b261761" target="_blank"><i
                                class="icon-linkedin-squared"></i></a></td>
                    <td>Louise is a geographer specialising in GIS and has a passion for Open Data. Her first role at
                        GEOLYTIX was supporting a major UK retailer with an overhaul of their site forecasting systems,
                        data and methodology. Lou manages our GeoData range, creating innovative new data
                        products.<br><br>
                        <a href="https://www.linkedin.com/in/louise-cross-7b70916b" target="_blank"><i
                                class="icon-linkedin-squared"></i></a>
                        <a href="https://twitter.com/WheresLou" target="_blank"><i class="icon-twitter-squared"></i></a></td>
                    <td>Christoph has an education in Geoinformatics from the University of Munster, Germany. Having
                        worked at on-geo in Dortmund creating a flagship website for property valuation, he is an expert
                        in programming for the web. At GEOLYTIX Christoph writes code that crunches big data sets for
                        our spatial models and GeoData range.<br><br>
                        <a href="https://www.linkedin.com/in/christoph-mülligann-a8a76194" target="_blank"><i
                                class="icon-linkedin-squared"></i></a></td>
                    <td>Jasmin, a geographer from Leeds University joins us from Colliers International UK where she
                        managed the GIS and mapping function, delivering spatial solutions to help a wide range of
                        clients with strategic network decisions. Jasmin will help to support our customers and deliver
                        projects.<br><br>
                        <a href="https://www.linkedin.com/in/jasminfitzpatrick" target="_blank"><i
                                class="icon-linkedin-squared"></i></a></td>
                    <td>Dennis has previously worked as a project manager for Cadcorp and joins GEOLYTIX as a web
                        developer from Argeomatica in Mexico City. His 20 years of professional experience in the
                        spatial information sector have seen many transitions; From field work and paper maps to
                        digital, from desktop to cloud, and most recently from proprietary to open source
                        technologies.<br><br>
                        <a href="https://www.linkedin.com/in/dennis-bauszus-45b55760" target="_blank"><i
                                class="icon-linkedin-squared"></i></a>
                        <a href="http://stackexchange.com/users/2521477/dennis-bauszus?tab=accounts" target="_blank"><i
                                class="icon-stackexchange"></i></a>
                        <a href="https://github.com/dbauszus" target="_blank"><i class="icon-github"></i></a>
                        <a href="http://dbauszus.xyz/" target="_blank"><i class="icon-wordpress"></i></a></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>



<div class="section" id="section_awards">
    <p class="title">Awards</p>


    <div class="container scroll__x">

        <div class="scroll__container">

            <div class="strip">
                <div class="award img__contain"></div>
                <div class="award img__contain"></div>
                <div class="award img__contain"></div>
            </div>
            <div class="strip">
                <div class="award img__contain"></div>
                <div class="award img__contain"></div>
            </div>

        </div>

    </div>

</div>

<div id="footer__menu">

    <ul class="ul_grid">
        <li>
            <div class="li_card">
                <p class="social_media__icons">
                    <a href="https://www.linkedin.com/company/geolytix" target="_blank"><i class="icon-linkedin-squared social_media_icon"></i></a>
                    <a href="http://twitter.com/geolytix" target="_blank"><i class="icon-twitter-squared"></i></a>
                    <a href="http://stackoverflow.com/jobs/companies/geolytix" target="_blank"><i class="icon-stackoverflow"></i></a>
                </p>
                <a class="privacy_policy cursor" target="_blank" href="https://docs.google.com/document/d/1ZyhEzxi0MCsMK3HnR6fGpBhNm725916AxmElkOsHFIY">Privacy Policy</a>
                <a class="terms_conditions cursor" target="_blank" href="https://docs.google.com/document/d/1MteGDtrZx2TWXcuKqTzEMPRGmtlvEzF0g9Vy9r5H_vs">Terms & Conditions</a>
            </div>
        </li><li>
            <div class="li_card">
                <a href="http://theodi.org/" target="_blank">
                    <img src="/public/images/logo_odi_supporter.png"/>
                </a>
            </div>
        </li><li>
            <div class="li_card">
                <p x-ms-format-detection="none">+44 20 82 42 41 66</p>
                <p><a href="mailto:info@geolytix.co.uk">info@geolytix.co.uk</a></p>
                <p>Phoenix Yard</p>
                <p>65 Kings Cross Road</p>
                <p>London WC1X 9LW</p>
            </div>
        </li><li>
            <div class="li_card">
                <p>© 2016 GEOLYTIX Ltd.</p>
                <p>All rights reserved</p>
            </div>
        </li>
    </ul>

</div>

<!-- inner -->
</div>

</body>

<script src="/public/js/geolytix.m.js"></script>

</html>