#section_case_studies {
  background-color: $glxgreen;
  color: white;
  padding: 0 50px 30px 50px;
  width: 100%;
  box-sizing: border-box;

  table {
    transition: all 0.5s;
  }

  > div {
    max-width: 1500px;
    margin: 0 auto;

    > p:nth-of-type(1) {
      font-size: 300%;
      font-family: ffmark_bold, sans-serif;
      padding: 30px 0;
    }

    > p:nth-of-type(2) {
      font-size: 150%;
    }
  }
}

#case_studies_strip {
  width: 100%;
  border-bottom: 1px solid #fff;

  > table {
    width: 360%;
    height: 170px;
    margin-left: -100%;
  }

  .logo {
    position: relative;
  }

  .active:after,
  .active:before {
    position: absolute;
    bottom: -1px;
    left: 50%;
    height: 0;
    width: 0;
    border: solid transparent;
    content: " ";
    pointer-events: none;
  }

  .active:before {
    border-bottom-color: #fff;
    border-width: 17px;
    margin-left: -17px;
  }

  .active:after {
    border-bottom-color: #079e00;
    border-width: 15px;
    margin-left: -15px;
    z-index: 999;
  }
}

#case_studies_container {
  margin-top: 30px;
  width: 100%;
  overflow: hidden;

  > table {
    width: 900%;
    table-layout: fixed;
    margin-left: -800%;

    td {
      padding-right: 15px;
      padding-left: 10px;
      vertical-align: top;
      line-height: 1.5em;
    }

    ul {
      padding-left: 20px;
      margin: 0;

      > li {
        padding-bottom: 10px;
      }
    }

    tr:first-of-type td {
      padding-bottom: 20px;
      text-align: center;
      font-family: ffmark_bold, sans-serif;
      font-size: 150%;
    }

    .quote {
      font-family: ffmark_italic, sans-serif;
      margin-bottom: 16px;
    }
  }
}