$desktop: true;
$mobile: false;
$glxgreen: #090;
$glxlightgreen: #ccff90;

@import 'fonts';
@import 'leaflet';
@import 'ul_grid';
@import 'services';
@import 'case_studies';
@import 'geodata';
@import 'team';
@import 'contact';
@import 'awards';
@import 'footer';

body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: ffmark, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  min-width: 799px;
  overflow-x: hidden;
}

.cursor:hover {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

p {
  margin: 0;
}

.img__contain {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.leaflet-control-attribution {
  display: none;
}

button {
  border: none;
  outline: none;
}

.mapButton {
  position: absolute;
  z-index: 999;
  background: #fff;
  color: #079e00;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
  text-align: center;
  cursor: default;

  &:disabled {
    opacity: 0.3;
  }

  &:hover:enabled {
    background: #079e00;
    color: #fff;
    cursor: pointer;
  }

  > i {
    font-size: 30px;
    line-height: 1.7;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* RESIZE */
@media screen and (max-width: 1175px) {
  .header__smaller > #home {
    font-size: 24px !important;
  }
}

@media screen and (max-width: 975px) {
  // .header__smaller > #home {
  //   display: none;
  // }
  .header__menu > div {
    display: none;
  }
}

@media screen and (min-width: 1500px) {
  body {
    font-size: 110%
  }
}

@media screen and (min-width: 1600px) {
  body {
    font-size: 120%
  }
}

@media screen and (min-width: 1700px) {
  body {
    font-size: 130%
  }
}

@media screen and (min-width: 1800px) {
  body {
    font-size: 140%
  }
}

.svg_icon {
  height: 12px;
  width: 20px;
  display: inline-block;
  background-image: url('data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%0A%20%20%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%0A%20%20%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%0A%20%20%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20viewBox%3D%220%200%20160%20126.66667%22%0A%20%20%20height%3D%22126.66667%22%0A%20%20%20width%3D%22160%22%0A%20%20%20xml%3Aspace%3D%22preserve%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20id%3D%22svg2%22%3E%3Cmetadata%0A%20%20%20%20%20id%3D%22metadata8%22%3E%3Crdf%3ARDF%3E%3Ccc%3AWork%0A%20%20%20%20%20%20%20%20%20rdf%3Aabout%3D%22%22%3E%3Cdc%3Aformat%3Eimage/svg+xml%3C/dc%3Aformat%3E%3Cdc%3Atype%0A%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A//purl.org/dc/dcmitype/StillImage%22%20/%3E%3C/cc%3AWork%3E%3C/rdf%3ARDF%3E%3C/metadata%3E%3Cdefs%0A%20%20%20%20%20id%3D%22defs6%22%20/%3E%3Cg%0A%20%20%20%20%20transform%3D%22matrix%281.3333333%2C0%2C0%2C-1.3333333%2C0%2C126.66667%29%22%0A%20%20%20%20%20id%3D%22g10%22%3E%3Cg%0A%20%20%20%20%20%20%20transform%3D%22scale%280.1%29%22%0A%20%20%20%20%20%20%20id%3D%22g12%22%3E%3Cpath%0A%20%20%20%20%20%20%20%20%20id%3D%22path14%22%0A%20%20%20%20%20%20%20%20%20style%3D%22fill%3A%23231f20%3Bfill-opacity%3A1%3Bfill-rule%3Anonzero%3Bstroke%3Anone%22%0A%20%20%20%20%20%20%20%20%20d%3D%22m%201200%2C810%20-47.46%2C0%20C%201134.92%2C810%201110%2C784.582%201110%2C768.309%20l%200%2C-589.809%20c%200%2C-16.293%2024.92%2C-38.5%2042.54%2C-38.5%20l%2047.46%2C0%200%2C-140%20-430%2C0%200%2C140%2090%2C0%200%2C620%20-4.41%2C0%20L%20645.422%2C0%20482.707%2C0%20275.25%2C760%20270%2C760%20270%2C140%20360%2C140%20360%2C0%200%2C0%200%2C140%2046.0977%2C140%20C%2065.082%2C140%2090%2C162.207%2090%2C178.5%20l%200%2C589.809%20C%2090%2C784.582%2065.082%2C810%2046.0977%2C810%20L%200%2C810%20l%200%2C140%20450.164%2C0%20147.797%2C-550%204.066%2C0%20149.164%2C550%20448.809%2C0%200%2C-140%22%20/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}