/* FONTS */
@font-face {
    font-family: ffmark_black;
    src: url('/public/fonts/MarkWeb-Black.woff') format('woff');
}

@font-face {
    font-family: ffmark;
    src: url('/public/fonts/MarkWebPro.woff') format('woff');
}

@font-face {
    font-family: ffmark_bold;
    src: url('/public/fonts/MarkWebPro-Bold.woff') format('woff');
}

@font-face {
    font-family: ffmark_italic;
    src: url('/public/fonts/MarkWebPro-Italic.woff') format('woff');
}



/* GLOBAL */
body {
    position: fixed;
    font-family: ffmark, "sans-serif";
    font-size: 20px;
    margin: 0;
    height: 100%;
    width: 100%;
}

.inner {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

a {
    text-decoration: none;
    color: #000;
    background-color: transparent;
}

p {
    margin: 0;
}

.img__cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.img__contain {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.strip > div {
    display: block;
    float: left;
    height: 100%;
}

.scroll__x {
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}



/* INTRO */
.intro__section {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center center;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
    margin-bottom: 30px;
}

.intro__section > span {
    position: absolute;
    color: #000;
    text-align: left;

    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}

.intro__logo {
    font-family: ffmark_black, sans-serif;
    top: 10px;
    left: 5px;
    font-size: 60px;
}

.intro__text {
    font-family: ffmark_bold, sans-serif;
    bottom: 0;
    left: 5px;
    font-size: 40px;
}



/* SERVICES */
#services__section {
    width: 100%;
    margin-bottom: 80px;
}

#services__section > p {
    text-align: center;
    padding: 20px 10px;
}

#services__section > p:nth-of-type(1){
    font-size: 25px;
}

#services__section > p:nth-of-type(2){
    font-family: ffmark_bold, sans-serif;
    font-size: 30px;
}

#services__section > p:nth-of-type(3){
    font-size: 30px;
    color: #079e00;
}

#services__section > .scroll__x {
    margin-top: 20px;
    padding-left: 5px;
    width: 100%;
}

.services__table {
    width: 350%;
    table-layout: fixed;
}

.services__table td {
    vertical-align: top;
    padding-right: 20px;
}

.services__table tr:nth-of-type(1) {
    height: 150px;
}

.services__table tr:nth-of-type(2) {
    font-family: ffmark_bold, "sans-serif";
}

.services__table tr:nth-of-type(2) td {
    padding: 20px 0;
}

.services__table tr:nth-of-type(3) {
    font-size: 80%;
}

.services__table .img__contain {
    background-position: 40% 0;
}

.network_strategy {
    background-image: url(/public/images/services/network_strategy.png);
}

.location_planning {
    background-image: url(/public/images/services/location_planning.png);
}

.omnichannel_retailing {
    background-image: url(/public/images/services/omnichannel_retailing.png);
}

.spatial_targeting {
    background-image: url(/public/images/services/spatial_modelling.png);
}



/* CASE STUDIES */
#case_studies__section {
    width: 100%;
    background-color: #079e00;
    color: #fff;
    padding-bottom: 30px;
}

#case_studies__section > p:nth-of-type(1){
    font-size: 30px;
    font-family: ffmark_bold, sans-serif;
    padding: 30px 10px 0 10px;
}

#case_studies__section > p:nth-of-type(2){
    padding: 20px 10px 20px 10px;
}

.case_studies__logos {
    margin-bottom: 40px;
}

.case_studies__logos > .scroll__container {
    width: 500%;
    height: 100px;
}

.case_studies__logos .img__contain {
    background-position: center center;
}

.case_studies__logos .camelot {
    background-image: url(/public/images/clients/camelot_logo_white.png);
}

.case_studies__logos .johnlewis {
    background-image: url(/public/images/clients/johnlewis_logo_white.png);
}

.case_studies__logos .onthemarket {
    background-image: url(/public/images/clients/onthemarket_logo_white.png);
}

.case_studies__logos .arco {
    background-image: url(/public/images/clients/arco_logo_white.png);
}

.case_studies__logos .totalfitness {
    background-image: url(/public/images/clients/totalfitness_logo_white.png);
}

.case_studies__logos .asda {
    background-image: url(/public/images/clients/asda_logo_white.png);
}

.case_studies__info > .scroll__container {
    width: 250%;
    table-layout: fixed;
}

.case_studies__info td {
    display: none;
    vertical-align: top;
}

.active {
    display: table-cell;
}

.case_studies__info tr:nth-of-type(1) {
     height: 50px;
     font-family: ffmark_bold, "sans-serif";
     font-size: 25px;
}

.case_studies__info tr:nth-of-type(2) td{
    font-size: 18px;
    padding-right: 20px;
}

.case_studies__info .quote {
    font-family: ffmark_italic, "sans-serif";
    margin-bottom: 16px;
}

.case_studies__info ul {
    padding-left: 18px;
    margin: 0;
}

.case_studies__info ul li{
    margin-bottom: 10px;
}



/* GEODATA */

#section_geodata {
    width: 100%;
}

#section_geodata > .container {
    position: relative;
    width: calc(100% - 5px);
    padding-left: 5px;
}
#section_geodata > .container > .scroll__container {
    width: 1300%;
}
#section_geodata > .container > .scroll__container > .card {
    position: relative;
    float: left;
    padding-right: 20px;
    width: calc(7.14% - 20px);
}
#section_geodata > .container > .scroll__container > .card > .title {
    height: 50px;
    font-size: 120%;
    font-family: ffmark_bold, "sans-serif";
}
#section_geodata > .container > .scroll__container > .card > .img {
    width: 100%;
    height: 300px;
    background-position: center center;
}
#section_geodata > .container > .scroll__container > .card > .info {
    background-color: #fff;
    padding-top: 5px;
    padding-left: 5px;
    border-left: 1px solid;
    font-size: 80%;
}
#section_geodata > .container > .scroll__container > .card > .img {
    position: relative;
}
#section_geodata > .container > .scroll__container > .card > .img > a {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 150%;
}
#section_geodata > .container > .scroll__container > .retail_points > .img{
    background-image: url(/public/images/geodata/retail_points.jpg);
}
#section_geodata > .container > .scroll__container > .retail_places > .img {
    background-image: url(/public/images/geodata/retail_places.jpg);
}
#section_geodata > .container > .scroll__container > .seamless_locales > .img {
    background-image: url(/public/images/geodata/seamless_locales.jpg);
}
#section_geodata > .container > .scroll__container > .town_suburbs > .img {
    background-image: url(/public/images/geodata/town_suburbs.jpg);
}
#section_geodata > .container > .scroll__container > .postal_geom > .img {
    background-image: url(/public/images/geodata/postal_geom.jpg);
}
#section_geodata > .container > .scroll__container > .public_transport > .img {
    background-image: url(/public/images/geodata/public_transport.jpg);
}
#section_geodata > .container > .scroll__container > .road_network > .img {
    background-image: url(/public/images/geodata/road_network.jpg);
}
#section_geodata > .container > .scroll__container > .uk_admin > .img {
    background-image: url(/public/images/geodata/uk_admin.jpg);
}
#section_geodata > .container > .scroll__container > .education > .img {
    background-image: url(/public/images/geodata/education.jpg);
}
#section_geodata > .container > .scroll__container > .poi > .img {
    background-image: url(/public/images/geodata/poi.jpg);
}



/* blog spacer */
.spacer {
    height: 500px;
    width: 100%;
}

.spacer > .link__intro {
    padding: 100px 0 0 50px;
    font-size: 200%;
}

.spacer > .link__text {
    font-family: ffmark_bold, "sans-serif";
    font-size: 150%;
}

#spacer_blog > .link__text {
    margin: 50px 0 0 100px;
    border-top: 10px solid #079e00;
    padding: 10px 0;
}

#spacer_blog > .link__text:hover {
    cursor: pointer;
    border-top: 10px solid #079e00;
}



/* TEAM */

#section_team {
    width: 100%;
    margin-bottom: 80px;
}
#section_team > .scroll__x {
    padding-left: 5px;
    width: 100%;
}
#section_team > .scroll__x > table {
    width: 650%;
    table-layout: fixed;
}
#section_team > .scroll__x > table td {
    vertical-align: top;
    padding-right: 20px;
}
#section_team > .scroll__x > table tr:nth-of-type(1) .img__contain {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#section_team > .scroll__x > table .blair {
    background-image: url(/public/images/team/blair.jpg);
}
#section_team > .scroll__x > table .sarah {
    background-image: url(/public/images/team/sarah.jpg);
}
#section_team > .scroll__x > table .neil {
    background-image: url(/public/images/team/neil.jpg);
}
#section_team > .scroll__x > table .samantha {
    background-image: url(/public/images/team/samantha.jpg);
}
#section_team > .scroll__x > table .simon {
    background-image: url(/public/images/team/simon.jpg);
}
#section_team > .scroll__x > table .louise {
    background-image: url(/public/images/team/louise.jpg);
}
#section_team > .scroll__x > table .christoph {
    background-image: url(/public/images/team/christoph.jpg);
}
#section_team > .scroll__x > table .jasmin {
    background-image: url(/public/images/team/jasmin.jpg);
}
#section_team > .scroll__x > table .dennis {
    background-image: url(/public/images/team/dennis.jpg);
}
#section_team > .scroll__x > table tr:nth-of-type(2) td {
    font-family: ffmark_bold, "sans-serif";
    padding-top: 10px;
}
#section_team > .scroll__x > table tr:nth-of-type(4) td {
    padding-top: 20px;
}
#section_team > .scroll__x > table tr:nth-of-type(4) {
    font-size: 80%;
}
#section_team > .scroll__x > table tr:nth-of-type(4) i {
    font-size: 35px;
    margin-left: -9px;
}



/* AWARDS */

#section_awards {
    width: 100%;
    margin-bottom: 30px;
}

#section_awards > .container {
    position: relative;
    width: calc(100% - 5px);
    height: 300px;
    padding-left: 5px;
}

#section_awards > .container > .scroll__container {
    width: 900px;
    height: 100%;
}

#section_awards > .container > .scroll__container > .strip {
    width: 100%;
    height: 50%;
}

#section_awards > .container > .scroll__container > .strip > .award {
    width: 250px;
    height: 100%;
    margin-right: 50px;
    background-position: center center;
}

#section_awards > .container > .scroll__container > .strip:nth-of-type(1) > div:nth-of-type(1) {
    background-image: url(/public/images/awards/award_qa.jpg);
}

#section_awards > .container > .scroll__container > .strip:nth-of-type(1) > div:nth-of-type(2) {
    background-image: url(/public/images/awards/award_odi.jpg);
}

#section_awards > .container > .scroll__container > .strip:nth-of-type(1) > div:nth-of-type(3) {
    background-image: url(/public/images/awards/award_fsb.jpg);
}

#section_awards > .container > .scroll__container > .strip:nth-of-type(2) > div:nth-of-type(1) {
    margin-left: 150px;
    background-image: url(/public/images/awards/award_nba.jpg);
}

#section_awards > .container > .scroll__container > .strip:nth-of-type(2) > div:nth-of-type(2) {
    background-image: url(/public/images/awards/award_sla.jpg);
}



/* FOOTER */

#footer__menu {
    background-color: #222;
    padding-top: 30px;
}
.privacy_policy, .terms_conditions {
    display: block;
}
#footer__menu .ul_grid {
    position: relative;
	margin: 0;
    padding: 0;
	text-align: center;
	width: 100%;
}
#footer__menu .ul_grid > li {
	display: inline-block;
	vertical-align: top;
}
#footer__menu i {
    margin: -10px;
}
#footer__menu > .ul_grid > li{
    width: 50%;
    padding-bottom: 20px;
}
#footer__menu p, #footer__menu a {
    margin: 0;
    line-height: 1.5em;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    font-size: 15px;
}
#footer__menu .social_media__icons > a {
    margin: -30px 5px 10px 5px;
    font-size: 50px;
}
#footer__menu .social_media__icons > a:hover {
    cursor: pointer;
    color: #00ff00;
}