$desktop: true;
$mobile: false;
$glxgreen: #079e00;
$glxlightgreen: #ccff90;

@import 'fonts';
@import 'leaflet';
@import 'ul_grid';
@import 'header';
@import 'services';
@import 'case_studies';
@import 'geodata';
@import 'team';
@import 'contact';
@import 'awards';
@import 'footer';

body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: ffmark, sans-serif;
  min-width: 799px;
  overflow-x: hidden;
}

.cursor:hover {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

p {
  margin: 0;
}

.img__contain {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.leaflet-control-attribution {
  display: none;
}

button {
  border: none;
  outline: none;
}

.mapButton {
  position: absolute;
  z-index: 999;
  background: #fff;
  color: #079e00;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
  text-align: center;
  cursor: default;

  &:disabled {
    opacity: 0.3;
  }

  &:hover:enabled {
    background: #079e00;
    color: #fff;
    cursor: pointer;
  }

  > i {
    font-size: 30px;
    line-height: 1.7;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* RESIZE */
@media screen and (max-width: 1175px) {
  .header__smaller > #home {
    font-size: 24px;
  }
}

@media screen and (max-width: 975px) {
  .header__smaller > #home {
    display: none;
  }
}

@media screen and (min-width: 1500px) {
  body {
    font-size: 110%
  }
}

@media screen and (min-width: 1600px) {
  body {
    font-size: 120%
  }
}

@media screen and (min-width: 1700px) {
  body {
    font-size: 130%
  }
}

@media screen and (min-width: 1800px) {
  body {
    font-size: 140%
  }
}