$desktop: false;
$mobile: true;
$glxgreen: #079e00;
$glxlightgreen: #ccff90;

@import 'fonts';
@import 'leaflet';

/* GLOBAL */
html {
    overflow: hidden;
    height: 100%;
}

body {
    position: fixed;
    font-family: ffmark, sans-serif;
    font-size: 20px;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#inner {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

a {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

p {
    margin: 0;
}

.img__cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.img__contain {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.strip > div {
    display: block;
    float: left;
    height: 100%;
}

.scroll__x {
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}


/* INTRO */
#intro__section {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center center;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
    margin-bottom: 30px;

    > span {
        color: black;
        text-align: left;
        -webkit-transition: color 0.5s linear;
        -moz-transition: color 0.5s linear;
        -o-transition: color 0.5s linear;
        transition: color 0.5s linear;
    }
}

#intro__menu {
    position: fixed;
    z-index: 999;
    display: none;
    width: 100%;
    background-color: white;
    border-bottom: 5px solid $glxgreen;

    > div {
        width: 100%;
        background-color: white;
        padding: 10px;
        text-align: center;
        color: $glxgreen;
    }

    a {
        color: $glxgreen;
    }

    .flag_link {
        width: 28px;
        height: 21px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid black;
        margin: 0 5px;
    }

    &.show {
        display: block !important;
    }
}

#intro__burger {
    position: fixed;
    right: 0;
    margin: 5px;
    z-index: 999;
    font-size: 35px;
    color: $glxgreen;
    background-color: white;
    border-radius: 20%;
    opacity: 0.8;
    line-height: 0.8;
    text-shadow: 1px 1px 2px grey;
    box-shadow: 1px 1px 2px grey;
}

#intro__logo {
    font-family: ffmark_black, sans-serif;
    position: absolute;
    left: 10px;
    margin-top: 10px;
    font-size: 60px;
}

#intro__text {
    position: absolute;
    font-family: ffmark_bold, sans-serif;
    bottom: 10px;
    left: 10px;
    font-size: 40px;
}

@media screen and (max-width: 350px) {
    #intro__logo {
        font-size: 50px;
    }

    #intro__text {
        font-size: 30px;
    }
}


/* SERVICES */
#services__section {
    width: 100%;
    margin-bottom: 80px;

    > p {
        text-align: center;
        padding: 20px 10px;
    }

    > p:nth-of-type(1){
        font-size: 25px;
    }

    > p:nth-of-type(2){
        font-family: ffmark_bold, sans-serif;
        font-size: 30px;
    }

    > p:nth-of-type(3){
        font-size: 30px;
        color: $glxgreen;
    }

    > .scroll__x {
        margin-top: 20px;
        padding-left: 10px;
        width: 100%;
    }

    .services__table {
        width: 350%;
        table-layout: fixed;

        td {
            vertical-align: top;
            padding-right: 20px;
        }

        tr:nth-of-type(1) {
            height: 150px;
        }

        tr:nth-of-type(2) {
            font-family: ffmark_bold, sans-serif;
        }

        tr:nth-of-type(2) td {
            padding: 20px 0;
        }

        tr:nth-of-type(3) {
            font-size: 80%;
        }

        .img__contain {
            background-position: 40% 0;
        }
    }
}


/* CASE STUDIES */
#case_studies__section {
    width: 100%;
    background-color: $glxgreen;
    color: white;
    padding-bottom: 30px;

    > p:nth-of-type(1){
        font-size: 35px;
        font-family: ffmark_bold, sans-serif;
        padding: 30px 10px 0 10px;
    }

    > p:nth-of-type(2){
        padding: 20px 10px 20px 10px;
    }
}

#case_studies__logos {
    margin-bottom: 40px;

    > .scroll__container {
        width: 570%;
        height: 100px;
    }

    .img__contain {
        background-position: center center;
    }
}

#case_studies__info {
    > .scroll__container {
        width: 250%;
        table-layout: fixed;
    }

    td {
        display: none;
        vertical-align: top;
    }

    .active {
        display: table-cell !important;
    }

    .pad_left {
        padding-left: 10px;
    }

    tr:nth-of-type(1) {
        height: 50px;
        font-family: ffmark_bold, sans-serif;
        font-size: 25px;
    }

    tr:nth-of-type(2) td{
        font-size: 18px;
        padding-right: 20px;
    }

    .quote {
        font-family: ffmark_italic, sans-serif;
        margin-bottom: 16px;
    }

    ul {
        padding-left: 18px;
        margin: 0;
    }

    ul li{
        margin-bottom: 10px;
    }
}


/* GEODATA */
#geodata__section {
    width: 100%;

    > p:nth-of-type(1){
        font-family: ffmark_bold, sans-serif;
        font-size: 35px;
        padding: 50px 10px 0 10px;
    }

    > p:nth-of-type(2){
        color: $glxgreen;
        font-family: ffmark_bold, sans-serif;
        font-size: 25px;
        padding: 20px 10px 10px 10px;
    }

    > p:nth-of-type(3){
        font-size: 20px;
        padding: 0 10px 30px 10px;
    }

    > .scroll__x {
        padding-left: 10px;
        width: 100%;
    }
}

.geodata__table {
    width: 1300%;
    table-layout: fixed;

    td {
        vertical-align: top;
        border-right: 20px solid white;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

    tr:nth-of-type(1) {
        font-family: ffmark_bold, sans-serif;
        font-size: 25px;
    }

    tr:nth-of-type(2) {
        height: 300px;
    }

    .docu_link {
        color: $glxgreen;
        line-height: 3;
        margin-left: -4px;
    }

    .map_mobile__launch {
        float: right;
        color: $glxgreen;
        font-size: 35px;
        background-color: white;
        border-radius: 20%;
        opacity: 0.8;
        margin: 5px;
        text-shadow: 1px 1px 2px grey;
    }
}


#blog__link {
    font-family: ffmark_bold, sans-serif;
    margin: 30px 0 120px 100px;
    border-top: 10px solid $glxgreen;
    padding-top: 10px;
}


/* TEAM */
#team__section {
    width: 100%;
    margin-bottom: 80px;

    > p:nth-of-type(1){
        color: $glxgreen;
        font-family: ffmark_bold, sans-serif;
        font-size: 35px;
        padding: 30px 10px 0 10px;
    }

    > p:nth-of-type(2){
        font-family: ffmark_bold, sans-serif;
        font-size: 25px;
        padding: 20px 10px 40px 10px;
    }

    > .scroll__x {
        padding-left: 5px;
        width: 100%;
    }

    .team__table {
        width: 1350%;
        table-layout: fixed;

        td {
            vertical-align: top;
            padding-right: 20px;
        }

        tr:nth-of-type(1) {
            height: 150px;
        }

        tr:nth-of-type(2) td {
            font-family: ffmark_bold, sans-serif;
            padding-top: 10px;
        }

        tr:nth-of-type(4) td {
            padding-top: 10px;
        }

        tr:nth-of-type(4) {
            font-size: 18px;
        }

        tr:nth-of-type(4) i {
            font-size: 35px;
            margin-left: -9px;
        }
    }
}


/* AWARDS */
#awards__section {
    margin-bottom: 30px;

    .container {
        padding-left: 10px;
    }

    > .container > .scroll__container {
        width: 900px;
    }

    > .container > .scroll__container > .strip > .award {
        height: 100px;
        width: 250px;
        margin-right: 50px;
        background-position: center center;
    }

    .strip:nth-of-type(2) > div:nth-of-type(1) {
        margin-left: 150px;
    }
}


.leaflet-control-attribution {
    display: none;
}

#map_contact {
    width: 100%;
    height: 200px;
}


/* FOOTER */
#footer {
    background-color: #222;
    text-align: center;

    .footer__top {
        margin-bottom: 20px;
    }

    .footer__bottom {
        margin-top: 20px;
    }

    .logo_odi_supporter {
        background-position: center;
    }

    .footer__half {
        width: 49%;
        display: inline-block;
        min-height: 100px;
        vertical-align: top;
    }

    p, a {
        line-height: 1.5em;
        color: white;
        text-shadow: 2px 2px 2px black;
        font-size: 15px;
    }

    .social_media__icons > a {
        font-size: 50px;
    }
}