@charset "UTF-8";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=PT+Mono");

@font-face {
  font-family: ffmark_black;
  src: url("/fonts/MarkWeb-Black.woff") format("woff");
}

@font-face {
  font-family: ffmark;
  src: url("/fonts/MarkWebPro.woff") format("woff");
}

@font-face {
  font-family: ffmark_bold;
  src: url("/fonts/MarkWebPro-Bold.woff") format("woff");
}

/* GLOBAL */
html {
  overflow: hidden;
  height: 100%;
}

body {
  position: fixed;
  font-family: ffmark, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-size: 20px;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#inner {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
  color: black;
  background-color: transparent;
}

p {
  margin: 0;
}

.img__cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.img__contain {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

.strip>div {
  display: block;
  float: left;
  height: 100%;
}

.scroll__x {
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

/* INTRO */
.intro__section {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center center;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
  margin-bottom: 30px;
}

.intro__section>span {
  color: black;
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

#intro__menu {
  position: fixed;
  z-index: 999;
  display: none;
  width: 100%;
  background-color: white;
  border-bottom: 5px solid #079e00;
}

#intro__menu>div {
  width: 100%;
  background-color: white;
  padding: 10px;
  text-align: center;
  color: #079e00;
}

#intro__menu a {
  color: #079e00;
}

#intro__menu .flag_link {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  box-shadow: 1px 1px 3px #777;
  margin: 0 5px;
}

#intro__menu .translate_link {
  display: inline-block;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  box-shadow: 1px 1px 3px #777;
  text-align: center;
}

#intro__menu.show {
  display: block !important;
}

#intro__burger {
  position: fixed;
  right: 0;
  margin: 5px;
  z-index: 999;
  font-size: 35px;
  color: #079e00;
  background-color: white;
  border-radius: 20%;
  opacity: 0.8;
  line-height: 0.8;
  text-shadow: 1px 1px 2px grey;
  box-shadow: 1px 1px 2px grey;
}

#intro__logo {
  font-family: ffmark_black, sans-serif;
  position: absolute;
  left: 10px;
  margin-top: 10px;
  font-size: 60px;
}

#intro__text {
  position: absolute;
  font-family: ffmark_bold, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 700;
  bottom: 10px;
  font-size: 40px;
}

.intro__text_left {
  left: 10px;
  text-align: left;
}

.intro__text_right {
  right: 10px;
  text-align: right;
}

.text__shadow {
  text-shadow: 2px 2px white;
}

@media screen and (max-width: 350px) {
  #intro__logo {
    font-size: 50px;
  }

  #intro__text {
    font-size: 30px;
  }
}

/* SERVICES */
#services__section {
  width: 100%;
  margin-bottom: 80px;
}

#services__section>p {
  text-align: center;
  padding: 20px 10px;
}

#services__section>p:nth-of-type(1) {
  font-size: 25px;
}

#services__section>p:nth-of-type(2) {
  font-family: ffmark_bold, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 700;
  font-size: 30px;
}

#services__section>p:nth-of-type(3) {
  font-size: 30px;
  color: #079e00;
}

#services__section>.scroll__x {
  margin-top: 20px;
  padding-left: 10px;
  width: 100%;
}

#services__section .services__table {
  width: 350%;
  table-layout: fixed;
}

#services__section .services__table td {
  vertical-align: top;
  padding-right: 20px;
}

#services__section .services__table tr:nth-of-type(1) {
  height: 150px;
}

#services__section .services__table tr:nth-of-type(2) {
  font-family: ffmark_bold, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 700;
}

#services__section .services__table tr:nth-of-type(2) td {
  padding: 20px 0;
}

#services__section .services__table tr:nth-of-type(3) {
  font-size: 80%;
}

#services__section .services__table .img__contain {
  background-position: 40% 0;
}

/* CASE STUDIES */
#case_studies__section {
  width: 100%;
  background-color: #079e00;
  color: white;
  padding-bottom: 30px;
}

#case_studies__section>p:nth-of-type(1) {
  font-size: 35px;
  font-family: ffmark_bold, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 700;
  padding: 30px 10px 0 10px;
}

#case_studies__section>p:nth-of-type(2) {
  padding: 20px 10px 20px 10px;
}

#case_studies__logos {
  margin-bottom: 40px;
}

#case_studies__logos>.scroll__container {
  width: 650%;
  height: 100px;
}

#case_studies__logos .img__contain {
  background-position: center center;
}

#case_studies__info>.scroll__container {
  width: 250%;
  table-layout: fixed;
}

#case_studies__info td {
  display: none;
  vertical-align: top;
}

#case_studies__info .active {
  display: table-cell !important;
}

#case_studies__info .pad_left {
  padding-left: 10px;
}

#case_studies__info tr:nth-of-type(1) {
  height: 50px;
  font-family: ffmark_bold, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 700;
  font-size: 25px;
}

#case_studies__info tr:nth-of-type(2) td {
  font-size: 18px;
  padding-right: 20px;
}

#case_studies__info .quote {
  font-family: ffmark_italic, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  margin-bottom: 16px;
}

#case_studies__info ul {
  padding-left: 18px;
  margin: 0;
}

#case_studies__info ul li {
  margin-bottom: 10px;
}

/* GEODATA */
#geodata__section {
  width: 100%;
}

#geodata__section>p:nth-of-type(1) {
  font-family: ffmark_bold, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 700;
  font-size: 35px;
  padding: 50px 10px 0 10px;
}

#geodata__section>p:nth-of-type(2) {
  color: #079e00;
  font-family: ffmark_bold, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding: 20px 10px 10px 10px;
}

#geodata__section>p:nth-of-type(3) {
  font-size: 20px;
  padding: 0 10px 30px 10px;
}

#geodata__section>.scroll__x {
  padding-left: 10px;
  width: 100%;
}

.geodata__table {
  table-layout: fixed;
}

.geodata__table td {
  vertical-align: top;
  border-right: 20px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.geodata__table tr:nth-of-type(1) {
  font-family: ffmark_bold, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.geodata__table tr:nth-of-type(2) {
  height: 300px;
}

.geodata__table .docu_link {
  color: #079e00;
  line-height: 3;
  margin-left: -4px;
}

.geodata__table .map_mobile__launch {
  float: right;
  color: #079e00;
  font-size: 35px;
  background-color: white;
  border-radius: 20%;
  opacity: 0.8;
  margin: 5px;
  text-shadow: 1px 1px 2px grey;
}

#blog__link {
  font-family: ffmark_bold, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 700;
  margin: 30px 0 120px 100px;
  border-top: 10px solid #079e00;
  padding-top: 10px;
}

/* TEAM */
#team__section {
  width: 100%;
  margin-bottom: 80px;
}

#team__section>p:nth-of-type(1) {
  color: #079e00;
  font-family: ffmark_bold, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 700;
  font-size: 35px;
  padding: 30px 10px 0 10px;
}

#team__section>p:nth-of-type(2) {
  font-family: ffmark_bold, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding: 20px 10px 40px 10px;
}

#team__section>.scroll__x {
  padding-left: 5px;
  width: 100%;
}

#team__section .team__table {
  table-layout: fixed;
}

#team__section .team__table td {
  vertical-align: top;
  padding-right: 20px;
}

#team__section .team__table tr:nth-of-type(1) {
  height: 150px;
}

#team__section .team__table tr:nth-of-type(2) td {
  font-family: ffmark_bold, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
  font-weight: 700;
  padding-top: 10px;
}

#team__section .team__table tr:nth-of-type(4) td {
  padding-top: 10px;
}

#team__section .team__table tr:nth-of-type(4) {
  font-size: 18px;
}

#team__section .team__table tr:nth-of-type(4) i {
  font-size: 35px;
  margin-left: -9px;
}

/* AWARDS */
#awards__section {
  margin-bottom: 30px;
}

#awards__section .container {
  padding-left: 10px;
}

#awards__section>.container>.scroll__container {
  width: 900px;
}

#awards__section>.container>.scroll__container>.strip>.award {
  height: 100px;
  width: 250px;
  margin-right: 50px;
  background-position: center center;
}

#awards__section .strip:nth-of-type(2)>div:nth-of-type(1) {
  margin-left: 150px;
}

.leaflet-control-attribution {
  display: none;
}

#map_contact {
  width: 100%;
  height: 200px;
}

/* FOOTER */
#footer {
  background-color: #222;
  text-align: center;
  color: white;
}

#footer #contact__text {
  font-size: 16px;
}

#footer .footer__top {
  margin-bottom: 20px;
}

#footer .footer__bottom {
  margin-top: 20px;
}

#footer .logo {
  background-position: center;
  display: block;
  height: 60px;
  padding: 20px 0;
}

#footer .footer__half {
  width: 49%;
  display: inline-block;
  min-height: 100px;
  vertical-align: top;
}

#footer p,
#footer a {
  line-height: 1.5em;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 15px;
}

#footer .social_media__icons>a {
  font-size: 50px;
}